@using Microsoft.AspNetCore.Http;
@model KEDI.Core.Premise.Models.Services.Account.ChangePasswordModel

<div class="card card-body">
	<fieldset class="scheduler-border">
        <legend class="title">@Localizer["Change Password"]</legend>
        <form asp-action="ChangePassword">
            @Html.AntiForgeryToken()
        
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>@Localizer["Username or Email"] <i class="text-danger">*</i></label>                       
                        <input class="form-control" autofocus autocomplete="off" asp-for="Username" />
                        <span asp-validation-for="Username"></span>
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Old Password"] <i class="text-danger">*</i></label>                      
                        <input class="form-control" asp-for="OldPassword" type="password" autocomplete="off"/>
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="form-group">
                        <label>@Localizer["New Password"] <i class="text-danger">*</i></label>                        
                        <input class="form-control" asp-for="NewPassword" type="password" autocomplete="off"/>
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Confirmed New Password"] <i class="text-danger">*</i></label>                        
                        <input class="form-control" asp-for="ConfirmedNewPassword" type="password" autocomplete="off"/>
                        <span asp-validation-for="ConfirmedNewPassword"></span>
                    </div>   
                </div>
            </div>
           <button class="btn btn-kernel mt-2" title="Save"><i class="fas fa-file"></i> @Localizer["Save"]</button>
        </form>
    </fieldset>	  

</div>

