@model IEnumerable<KEDI.Core.Premise.Models.Sale.Print.PrintSaleHistory>
@{
    ViewData["Title"] = "SaleARHistory";
    Layout = "_Layout_print";
    var num = 0;
    double amountreal = 0;



}

<style>
    * {
        font-family: 'Khmer OS Battambang';
        font-size: 16px;
    }

    body {
        font-family: 'Khmer OS Battambang';
        font-size: 16px;
    }

    #th1 {
        border: solid;
        border-right: hidden;
        border-bottom: hidden
    }

    h3, h1 {
        font-size: 19px;
    }
   
    
    #th2 {
        text-align: right;
        border: solid;
        border-bottom: hidden
    }

    #th3 {
        border: solid;
        border-right: hidden
    }

    #th4 {
        border: solid;
        text-align: right
    }
</style>
<br />
<div class="row">
    <div class="col-xs-2">
        <img src="~/Images/company/@Model.First().Logo" width="150" height="150" />
    </div>
    <div class="col-xs-8" style="text-align:center">
        <h1>@Model.FirstOrDefault().Branch</h1>
        @* <h2>AQUATEK SOLUTION CO., LTD.</h2>*@
        <h3>@Model.FirstOrDefault().EnglishDesc</h3>
        <h3>@Model.First().Addresskh</h3>
        <h3>@Model.First().AddressEng</h3>
        <h3>ទូរសព្ទលេខៈ @Model.First().Tel1 @Model.FirstOrDefault().Tel2</h3>
    </div>
    <div class="col-xs-2"></div>
</div>
<div class="row" style="text-align:center">
    <div class="col-xs-12">
        <div style="border:2px solid black;"></div>
        <h3>វិក្កយបត្រអាករ</h3>
        <h3>TAX INVOICE</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-7">
        <div style="position:relative;">
            <p>ឈ្មោះក្រុមហ៊ុន ឬអតិថិជន​ ៖ </p>
            <p>Company name / Customer :</p>
            <p class="res" style="float:left; position:absolute; top:0;left:50%;"> @Model.FirstOrDefault().CusName</p>
        </div>
        <div style="position:relative;">
            <p>អាសយដ្ឋា​ន ៖</p>
            <p>Addrees :</p>
            <p class="res" style="float: left; position: absolute; top: 0; left: 50%;">@Model.FirstOrDefault().Address</p>
        </div>

        <div style="position:relative;">
            <p>Store Name :</p>
            <p class="res" style="float: left; position: absolute; top: 0; left: 50%;"> @Model.FirstOrDefault().CompanyName</p>
        </div>
        <div style="position:relative;">
            <p>លេខអត្តសញ្ញាណកម្ម(VATTIN)៖</p>
            <p class="res" style="float: left; position: absolute; top: 0; left: 50%;">@Model.FirstOrDefault().VatNumber </p>
        </div>
        <div style="position:relative;">

            <p>Attentione :</p>
            <p class="res" style="float: left; position: absolute; top: 0; left: 50%;">@Model.FirstOrDefault().CusName </p>
        </div>
        <div style="position:relative;">
            <p>Mobile :</p>
            <p class="res" style="float: left; position: absolute; top: 0; left: 50%;"> @Model.FirstOrDefault().Phone</p>
        </div>
        <div style="position:relative;">
            <p>Email :</p>
            <p class="res" style="float: left; position: absolute; top: 0; left: 50%;">@Model.FirstOrDefault().Email</p>
        </div>

    </div>
    <div class="col-xs-5" style="padding-left:15%">

        <div style="position:relative;">
            <p>លេខរៀងវិក្កយបត្រ ​៖ </p>
            <p>Invoice No :</p>
            <p class="res" style="float:left; position:absolute; top:0;left:60%;"> @Model.FirstOrDefault().Invoice</p>
        </div>
        <div style="position:relative;">
            <p>កាលបរិច្ឆេទ ៖ </p>
            <p>Date : </p>
            <p class="res" style="float:left; position:absolute; top:0;left:60%;"> @Model.FirstOrDefault().PostingDate</p>
        </div>
        <div style="position:relative;">
            <p>លេខការបញ្ជាទិញ៖</p>
            <p>P.O Nº : </p>
            <p class="res" style="float:left; position:absolute; top:0;left:60%;">@Model.FirstOrDefault().Invoice</p>
        </div>
        <div style="position:relative;">
            <p>លេខសម្រង់៖</p>
            <p>Quotation No : </p>
            <p class="res" style="float:left; position:absolute; top:0;left:60%;">@Model.FirstOrDefault().Invoice</p>
        </div>

        <div style="position:relative;">
            <p>លេខបញ្ជូនទំនិញ ៖ </p>
            <p>Delivery Note No:</p>
            <p class="res" style="float:left; position:absolute; top:0;left:60%;">@Model.FirstOrDefault().Invoice</p>
        </div>
        <div style="position:relative;">
            <p>Exchange Rate :</p>
            <p>អត្រាប្តូរប្រាក់  : </p>
            <p class="res" style="float:left; position:absolute; top:0;left:60%;">@Model.FirstOrDefault().ExchangeRate</p>
        </div>
    </div>
</div>

<div style="min-height:950px">
    <table class="table table-bordered" style="border: none; ">
        <thead style="background-color:#2874A6;">
            <tr style="color:white">
                <th class="text-center"width="5%">ល.រ<br />No.</th>
                <th class="text-center"width="15%" >បរិយាយមុខទំនិញ<br />Description</th>
                <th class="text-center"width="5%">បរិមាណ<br />Quantity</th>
                <th class="text-center"width="10%" >តម្លៃលក់រាយ<br />Unit Price</th>
                <th class="text-center"width="15%" >សរុបរង<br />Sub Total</th>
                <th class="text-center"width="10%">បញ្ចុះតម្លៃ(0%)<br />Discount</th>
                <th class="text-center"width="20%">ថ្លៃទំនិញជា<br />Amount (@(Model.FirstOrDefault().PriceList))</th>
                <th class="text-center"width="20%">ថ្លៃទំនិញជា<br />Amount (@(Model.FirstOrDefault().LocalCurrency))</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                num++;
                amountreal = (@Model.FirstOrDefault().ExchangeRate * item.LocalSetRate) * item.Amount;

                <tr>
                    <td class="text-center">@num</td>
                    <td>@item.ItemNameKh @item.Barcode</td>
                    <td class="text-center" style="line-height: 50%;">@(string.Format("{0:n0}", item.Qty))</td>
                    <td class="text-center">@(Model.FirstOrDefault().LabelUSA +" "+string.Format("{0:n2}", item.Price))</td>
                    <td class="text-center">@(Model.FirstOrDefault().LabelUSA +" "+string.Format("{0:n2}", item.Qty* item.Price))</td>
                    <td class="text-center">@string.Format("{0:n2}", item.DiscountRate_Detail) %</td>

                    <td class="text-center">@(Model.FirstOrDefault().LabelUSA + " " )@(string.Format("{0:n2}", item.Amount))</td>
                    <td class="text-center">@(Model.FirstOrDefault().LabelReal + " " )@(string.Format("{0:n2}", amountreal))</td>


                </tr>
            }

            <tr>
                <td  colspan="4" rowspan="3" style="border: none;">
                    <p style="margin-top:30px; text-align:left;">By Cheque</p>
                    <p style="margin-left: 30px; text-align: left; font-size: 1.2rem;">
                        Please make cheque payable to AQUATEK SOLUTION CO., LTD.
                        <br />
                        Quotation propose discount base on unit purchase <br />
                        Payment Terms: <br />
                        Payment @Model.FirstOrDefault().Paymenterm days after the invoice date
                    </p>
                </td>

                <td class="text-center" colspan="2">សរុបរង <br />Sub Total</td>
                <td class="text-center">@(Model.FirstOrDefault().LabelUSA + " " + string.Format("{0:n2}", Model.FirstOrDefault().Sub_Total) ) </td>
                <td class="text-center">@(Model.FirstOrDefault().LabelReal + " " )@(string.Format("{0:n2}", Model.FirstOrDefault().Sub_Total* Model.FirstOrDefault().ExchangeRate* Model.FirstOrDefault().LocalSetRate))</td>

            </tr>

           
            <tr>

                <td class="text-center" colspan="2">អតប(@(string.Format("{0:n2}", Model.FirstOrDefault().TaxRate)) %) <br />VAT(@(string.Format("{0:n2}", Model.FirstOrDefault().TaxRate)) %)</td>
                <td class="text-center">@(Model.FirstOrDefault().LabelUSA + " " ) @(Model.FirstOrDefault().TaxValue)</td>
                <td class="text-center">@(Model.FirstOrDefault().LabelReal + " " )@(string.Format("{0:n2}", (double)Model.FirstOrDefault().TaxValue * Model.FirstOrDefault().ExchangeRate * Model.FirstOrDefault().LocalSetRate))</td>




            </tr>
            <tr>
                <td class="text-center"colspan="2">សរុបរួម<br />Grand Total</td>

                <td class="text-center">@(Model.FirstOrDefault().LabelUSA + " " )@(string.Format("{0:n2}", Model.FirstOrDefault().TotalAmount))</td>
                <td class="text-center">@(Model.FirstOrDefault().LabelReal + " " )@(string.Format("{0:n2}", (double)Model.FirstOrDefault().TotalAmount * Model.FirstOrDefault().ExchangeRate * Model.FirstOrDefault().LocalSetRate))</td>

            </tr>

        </tbody>
    </table>
    <table>
        <tr>
            <td colspan="6" style="border: none;">
                <p>** Please Note: Header comes with a standard one year warranty</p>
                <p style="margin-left:30px;">
                    Membrane 1 year warranty does not cover factors relating to blockages that may be caused by sediments and other particles or
                    substances found in local water supply. Warranty covers manufacturer fault only. Aquatek advises frequent checks to maintain
                    longevity of your filtration system
                </p>
                <div class="row">
                    <div class="col-xs-6" style="text-align:center;">
                        <br /><br /><br />____________________________<br />
                        ហត្ថលេខា និងឈ្នោះអ្នកទិញ <br />
                        Customer's Signature & Name
                    </div>
                    <div class="col-xs-6" style="text-align:center;">
                        <br /><br /><br /> ____________________________<br />
                        ហត្ថលេខា និងត្រាក្រុមហ៊ុន <br />
                        Company's Signature & Stamp
                    </div>
                </div>
            </td>
        </tr>

    </table>

</div>

@*<div class="row">
        <div class="col-xs-12" style="text-align:center">
            <p>@Model.FirstOrDefault().khmerDesc</p>
        </div>
    </div>*@
