<style>
    .__mt-1 {
        margin-top: 0.25rem !important;
    }

    .serail-detail-container {
        height: 29vh;
        overflow: auto;
        width: 100%;
    }

    .row-flex {
        display: flex;
        @*justify-content:space-between;*@
    }

    table thead tr th {
        font-size: 12px;
    }
</style>
@*// Model Serial //*@

<div id="container-list-serial" class="wrap-table widget-scrollbar" style="display: none; height: 80vh;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="overflow: auto; height: 10vh !important;" class="widget-scrollbar">
                <table class="serial-lists">
                    <thead>
                        <tr>
                            <th>@Localizer["No"]</th>
                            <th>@Localizer["Item Code"]</th>
                            <th>@Localizer["Item Name"]</th>
                            <th>@Localizer["Whse Code"]</th>
                            <th>@Localizer["Whse Name"]</th>
                            <th>@Localizer["Quantity"]</th>
                            <th>@Localizer["Total Selected"]</th>
                            <th>@Localizer["Open Qty"]</th>
                            <th>@Localizer["Derection"]</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <p class="font-size" style="padding-top:5px ;">@Localizer["Available Serial Numbers"]</p>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="row-flex"> <label class="font-size" style="width: 50px ;">@Localizer["Find"]</label>
                <input class="form-control font-size" id="searchSNs" />
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="row-flex">
                <label class="font-size" style="width: 18rem;">@Localizer["Display Available SNs"]</label>
                <select class="form-control font-size" id="filterBP" disabled>
                    <option value="1" selected>@Localizer["All"]</option>
                    <option value="2">@Localizer["Related to Current BP"]</option>

                </select>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="overflow: auto; height: 15vh !important;" class="widget-scrollbar">
                <table class="serial-unselect-lists">
                    <thead>
                        <tr>
                            <th style="min-width: 300px;">@Localizer["Mfr Serial No. "]</th>
                            <th style="min-width: 300px;">@Localizer["Engine NO / SerialNumber"]</th>
                            <th>@Localizer["Plate Number"]</th>
                            <th>@Localizer["Lot Number"]</th>
                            <th>@Localizer["Color"]</th>
                            <th>@Localizer["Brand"]</th>
                            <th>@Localizer["Condition"]</th>
                            <th>@Localizer["Type"]</th>
                            <th>@Localizer["H.Power"]</th>
                            <th>@Localizer["Year"]</th>
                            <th>@Localizer["Expiration Date"]</th>
                            <th>@Localizer["Mfr Date"]</th>
                            <th>@Localizer["Admission Date"]</th>
                            <th>@Localizer["Mfr Warranty Start"]</th>
                            <th>@Localizer["Mfr Warranty End"]</th>
                            <th>@Localizer["Location"]</th>
                            <th>@Localizer["Details"]</th>
                        </tr>
                    </thead>
                </table>

            </div>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="row-flex">
                <label class="font-size" style="width:19rem ;">@Localizer["Available Quantity"]: </label>
                <input class="font-size form-control" readonly id="avbQty" />
            </div>
        </div>

    </div>
    <br />
    <p class="font-size">@Localizer["Selected Serial Numbers"]</p>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="overflow: auto; height: 17vh !important;" class="widget-scrollbar">
                <table class="serial-select-lists">
                    <thead>
                        <tr>
                            <th style="min-width: 300px;">@Localizer["Mfr Serial No."]</th>
                            <th style="min-width: 300px;">@Localizer["Engine NO / SerialNumber"]</th>
                            <th>@Localizer["Plate Number"]</th>
                            <th>@Localizer["Lot Number"]</th>
                            <th>@Localizer["Color"]</th>
                            <th>@Localizer["Brand"]</th>
                            <th>@Localizer["Condition"]</th>
                            <th>@Localizer["Type"]</th>
                            <th>@Localizer["H.Power"]</th>
                            <th>@Localizer["Year"]</th>
                            <th>@Localizer["Expiration Date"]</th>
                            <th>@Localizer["Mfr Date"]</th>
                            <th>@Localizer["Admission Date"]</th>
                            <th>@Localizer["Mfr Warranty Start"]</th>
                            <th>@Localizer["Mfr Warranty End"]</th>
                            <th>@Localizer["Location"]</th>
                            <th>@Localizer["Details"]</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="row-flex">
                <p class="font-size" style="width: 20rem;">@Localizer["Total Selected"]: </p>
                <input class="font-size form-control" readonly id="ttSlt" />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div class="serailErrorMessage"></div>
        </div>
    </div>
</div>
<script src="~/Admin/Components/SerialsBatches/apcSerialNumber.js"></script>

@* <style>
    .__mt-1 {
    margin-top: 0.25rem !important;
    }

    .serail-detail-container {
    height: 29vh;
    overflow: auto;
    width: 100%;
    }
    .border-kenel {
    border-left: 1px solid rgba(37, 37, 32, 0.73) !important;
    }
    </style>
    @*// Model Serial //
    <div id="container-list-serial" class="wrap-table widget-scrollbar" style="height: 430px; display: none; overflow:
    hidden">
    <div style="overflow: auto; height: 30%;" class="widget-scrollbar">
    <div class="row">
    <div class="col-md-12">
    <table class="serial-lists">
    <thead>
    <tr>
    <th>@Localizer["No"]</th>
    <th>@Localizer["Item Code"]</th>
    <th>@Localizer["Item Name"]</th>
    <th>@Localizer["Whse Code"]</th>
    <th>@Localizer["Whse Name"]</th>
    <th>@Localizer["Total Needed"]</th>
    <th>@Localizer["Total Created"]</th>
    <th>@Localizer["Open Qty"]</th>
    <th>@Localizer["Derection"]</th>
    </tr>
    </thead>
    </table>
    </div>
    </div>
    </div>
    <br />
    <div style="overflow:auto; height: 45%;" class="widget-scrollbar">
    <div class="row">
    <div class="col-md-7">
    <p class="font-size">@Localizer["Available Serial Numbers"]</p>
    <div class="row">
    <div class="col-md-4">
    <label class="font-size">@Localizer["Find"]</label>
    </div>
    <div class="col-md-7">
    <input class="form-control font-size" id="searchSNs" />
    </div>
    </div>
    <div class="row">
    <div class="col-md-4">
    <label class="font-size">@Localizer["Display Available SNs"]</label>
    </div>
    <div class="col-md-7">
    <select class="form-control font-size" id="filterBP">
    <option value="1">@Localizer["All"]</option>
    <option value="2" selected>@Localizer["Related to Current BP"]</option>
    </select>
    </div>
    </div>
    </div>
    <div class="col-md-5">
    <p class="text-center font-size">@Localizer["Selected Serial Numbers"]</p>
    </div>
    </div>
    <div class="row">
    <div class="col-md-7 widget-scrollbar" style="overflow: auto; height: 100px;">
    <table class="serial-unselect-lists">
    <thead>
    <tr>
    <th>@Localizer["Serial Number"]</th>
    <th>@Localizer["Mfr Serial No."]</th>
    <th>@Localizer["Lot Number"]</th>
    <th>@Localizer["Unit Cost"]</th>
    </tr>
    </thead>
    </table>
    </div>
    <div class="col-md-5 widget-scrollbar" style="overflow: auto; height: 100px;">
    <table class="serial-select-lists">
    <thead>
    <tr>
    <th>@Localizer["Serial Number"]</th>
    <th>@Localizer["Unit Cost"]</th>
    </tr>
    </thead>
    </table>
    </div>
    </div>
    </div>
    <br />
    <div class="row">
    <div class="col-md-6">
    <div class="row">
    <div class="col-md-4">
    <label class="font-size">@Localizer["Available Quantity"]</label>
    </div>
    <div class="col-md-7">
    <input class="font-size form-control" readonly id="avbQty"/>
    </div>
    </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
    <div class="row">
    <div class="col-md-4">
    <label class="font-size">@Localizer["Total Selected"]</label>
    </div>
    <div class="col-md-7">
    <input class="font-size form-control" readonly id="ttSlt"/>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-7">
    <div class="serailErrorMessage"></div>
    </div>
    </div>
    </div>
    <script src="~/Admin/Components/SerialsBatches/apcSerialNumber.js"></script> *@