@model CKBS.Models.Services.POS.Template.POSModel;
@{
    Layout = "_POSLayout";
    var panelViewMode = Model.Setting.Setting.PanelViewMode;
    //string widthZero = "";
    //string viewModeIcon = "fa-cart-arrow-down";
    //switch (panelViewMode)
    //{
    //    case PanelViewMode.Single:
    //        widthZero = "width-zero";
    //        viewModeIcon = "fa-th-large";
    //        break;
    //}
}

<nav class="nav-header">
    <div class="item">
        <partial name="MenuSetting" />
    </div>
    <div class="item">
        @if (!Convert.ToBoolean(User.FindFirst("UserPos").Value))
        {
            <a href="/home/dashboard" target="_blank" title="Administrator"><i class="fas fa-user-shield fn-white fa-fw fa-lg"></i></a>
        }
    </div>
    <div class="item grow"></div>
    <div class="item"><i id="toggle-gridview-mobile" class="screen-min-max show csr-pointer fas fa-toggle-on"></i></div>
    <div class="item">
        <div class="dropbox down crumb profile">
            <div class="dropbox-btn"><img class="img-circle" src="@Url.Content(@User.FindFirst("Photo").Value)" alt="..." /></div>
            <div class="wrap-dropbox-content">
                <div class="dropbox-navigator">
                    <div class="i-close far fa-window-close"></div>
                </div>
                <div class="dropbox-content">
                    <a href="#" class="option"><i class="fas fa-user fa-fw"></i>@User.FindFirst("FullName").Value</a>
                    <a href="#" class="option" id="log-out-pos"><i class="fas fa-sign-out-alt fa-fw"></i>@Localizer["Log out"]</a>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="item item-circle">
        <img src="icons/minimize.png"/>
    </div>
    <div class="item item-circle">
        <img src="icons/close.png"/>
    </div> -->
</nav>

<div class="panel">
    <div id="panel-payment" class="full-panel">
        <nav class="nav-toolbar">
            <div class="item csr-pointer">
                <div id="goto-panel-group-items"><i class="fas fa-caret-left fa-lg"></i>&nbsp;@Localizer["Back"]</div>
            </div>
            <div class="item">
                <div class="title Table"></div>
            </div>
            <div class="grow"></div>
        </nav>
        <div class="wrap-block col-two measure p1 widget-scrollbar">
            <div class="left-block">
                <fieldset class="shadow" style="height: 100%;">
                    <legend class="title">@Localizer["Quick Number"]</legend>
                    <div class="gridview number-pad">
                        <div class="wrap-grid">
                            <span class="grid" data-value="7">7</span>
                            <span class="grid" data-value="8">8</span>
                            <span class="grid" data-value="9">9</span>
                            <span class="grid" data-value="4">4</span>
                            <span class="grid" data-value="5">5</span>
                            <span class="grid" data-value="6">6</span>
                            <span class="grid" data-value="1">1</span>
                            <span class="grid" data-value="2">2</span>
                            <span class="grid" data-value="3">3</span>
                            <span class="grid" data-value="."><img src="~/pos/icons/dot.png" /></span>
                            <span class="grid" data-value="0">0</span>
                            <span class="grid" data-value="-1"><img src="~/pos/icons/backspace.png" /></span>
                        </div>
                    </div>
                    <div class="gridview quick-number number-plus">
                        <div class="wrap-grid">
                            <span class="grid bg-green" data-value="10">+10</span>
                            <span class="grid bg-sky" data-value="50">+50</span>
                            <span class="grid bg-yellow" data-value="100">+100</span>
                            <span class="grid bg-orange" data-value="500">+500</span>
                            <span class="grid bg-red" data-value="1000">+1000</span>
                        </div>
                    </div>
                    <div class="gridview quick-number number-multiply">
                        <div class="wrap-grid">
                            <span class="grid bg-green" data-value="2">x2</span>
                            <span class="grid bg-sky" data-value="5">x5</span>
                            <span class="grid bg-yellow" data-value="10">x10</span>
                            <span class="grid bg-orange" data-value="50">x50</span>
                            <span class="grid bg-red" data-value="100">x100</span>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="right-block">
                <fieldset class="shadow px1">
                    <legend class="title">@Localizer["Payment detail"]</legend>
                    <div class="block">
                        <div class="title">@Localizer["Payment Means"]</div>
                        <select asp-items="Model.Setting.PaymentMeans" id="payment-mean-id"></select>
                    </div>
                    <div class="stack-inline">
                        <div class="widget-stackcrumb">
                            <div class="step">
                                <i class="far fa-money-bill-alt"> @Localizer["Freight"]</i>
                            </div>
                        </div>
                        <input id="amount-freight" value="0.000" readonly>
                        <div class="base-currency symbol bg-grey"></div>
                    </div>
                    <div class="stack-inline">
                        <div class="widget-stackcrumb">
                            <div class="step"><i class="far fa-money-bill-alt"> @Localizer["Total"]</i></div>
                        </div>
                        <input id="pay-total" readonly>
                        <div class="base-currency symbol bg-grey"></div>
                    </div>
                    <div class="stack-inline">
                        <div class="widget-stackcrumb">
                            <div class="step"><i class="far fa-money-bill-alt"> @Localizer["Total"]</i></div>
                        </div>
                        <input id="pay-total-alt" readonly>
                        <div class="alt-currency symbol bg-grey"></div>
                    </div>

                    <div class="stack-inline">
                        <div class="widget-stackcrumb">
                            <div class="step"><i class="far fa-money-bill-alt"> @Localizer["Cash"]</i></div>
                        </div>
                        <input autocomplete="off" class="number" id="pay-cash" value="0">
                        <div class="base-currency symbol bg-grey"></div>
                    </div>

                    <div class="stack-inline">
                        <select class="symbol bg-grey" id="other-currency-list"></select>
                        <input autocomplete="off" class="number" id="pay-other-currency" value="0">
                        <div class="other-curr-symbol symbol bg-grey"></div>
                    </div>

                    <div class="stack-inline">
                        <div class="widget-stackcrumb">
                            <div class="step"><i class="far fa-money-bill-alt"> @Localizer["Received"]</i></div>
                        </div>
                        <input readonly id="pay-received" value="0">
                        <div class="base-currency symbol bg-grey"></div>
                    </div>

                    <div class="stack-inline">
                        <div class="widget-stackcrumb">
                            <div class="step"><i class="far fa-money-bill-alt"> @Localizer["Changed"]</i></div>
                        </div>
                        <input readonly id="pay-change" class="error-change" value="0">
                        <div class="base-currency symbol bg-grey"></div>
                    </div>
                    <div class="stack-inline">
                        <div class="widget-stackcrumb">
                            <div class="step"><i class="far fa-money-bill-alt"> @Localizer["Changed"]</i></div>
                        </div>
                        <input readonly id="pay-change-alt" class="error-change" value="0">
                        <div class="alt-currency symbol bg-grey"></div>
                    </div>
                    <div id="display-change-rate"></div>
                    <div class="btn submit" id="pay"><i class="fas fa-shopping-cart"></i> @Localizer["Pay"]</div>

                </fieldset>
                <fieldset class="shadow" id="freight-content" style="display: none;">
                    <legend class="title">@Localizer["Freights"]</legend>
                    <table id="list-freights">
                        <tr>
                            <th>@Localizer["Name"]</th>
                            <th>@Localizer["Freight Type"]</th>
                            <th>@Localizer["Amount"]</th>
                            <th>@Localizer["Active"]</th>
                        </tr>
                    </table>
                    <div class="flexbox">
                        <div class="flexbox">
                            @Localizer["Total Amount"]:&nbsp;
                            <span id="freight-currency"></span>&nbsp;
                            <span id="total-freights">0.000</span>
                        </div>
                        <div id="frieght-error-summary"></div>
                    </div>
                </fieldset>

            </div>

        </div>
    </div><!--End full-panel-->

    <div id="panel-group-tables" class="full-panel">
         <nav class="nav-toolbar flexbox space-between" style="height: auto; margin-top: 5px;">
            <ul id="group-tables" class="item widget-stackcrumb table-group" style="height: auto;">
                <li id="all-table" data-group-id="0">@Localizer["All"]</li>
                @foreach (var gt in Model.ServiceTable.GroupTables)
                {
                    <li data-group-id="@gt.ID" class="step active">@gt.Name</li>
                }
            </ul>

            <div class="item group-search-boxes">
                <div id="text-search" class="search-box">
                    <div class="input-box">
                        <i id="i-search" class="i-search fas fa-search"></i>
                        <input id="search-tables" class="ignore" type="text" autocomplete="off" placeholder="@Localizer["Text search ..."]">
                        <i id="i-close" class="i-close far fa-times-circle"></i>
                    </div>
                    <div id="btn-search" class="btn-search"><i class="fas fa-search"></i></div>
                </div>
            </div>

        </nav>
       <div id="table-item-gridview" class="gridview item-gridview time-table full-desktop">
            <!--gridview-->
            <div class="wrap-grid widget-scrollbar">
                @foreach (var t in Model.ServiceTable.Tables)
                {
                    <div class="grid" data-id="@t.ID" data-name="@t.Name">
                        <div class="grid-caption">@t.Name</div>
                        <div class="grid-image">
                            @*<img src="/Images/table/@t.Image" /><div class="time">@t.Time</div>*@
                        </div>
                        <div id="user + @t.ID" class="grid-subtitle"></div>
                    </div>

                }
            </div>
        </div><!--end-gridview-->

        <svg class="svg-footer-curve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5B6F9D" fill-opacity="1" d="M0,320L1440,0L1440,320L0,320Z"></path></svg>
        <div class="nav-toolbar bottom">
            <div id="datetime" class="item datetime">@DateTime.Now.ToString("M/d/yyyy h:m:ss tt")</div>
        </div>

    </div><!--End panel-group-tables-->

    <div id="panel-group-items" class="full-panel show">
        <div class="left-panel flexbox column">
            <nav class="nav-toolbar top">
                <div class="item">@Localizer["Customer :"]</div>
                <i class="tag-count"></i>
                <div id="fx-choose-customer" class="csr-pointer item">
                    <span id="chosen-customer" class="item" title="Choose customer">@Model.Customer.Name</span>
                    <i class="fas fa-user fa-lg fn-white"></i>
                </div>
            </nav>

            <div id="wrap-list" class="wrap-table flex-grow widget-scrollbar">
                <table id="item-listview">
                    <tr>
                        @*<th>№</th>*@
                        <th>@Localizer["Code"]</th>
                        <th>@Localizer["Name"]</th>
                        <th>@Localizer["Price"]</th>
                        <th style="text-align: center;">@Localizer["Qty"]</th>
                        <th>@Localizer["Uom"]</th>
                        <th>@Localizer["Dis."]</th>
                        <th>@Localizer["Amount"]</th>
                        <th></th>
                    </tr>

                </table>
            </div>

            <div class="wrap-table summary">
                <table>
                    <tr>
                        <th>@Localizer["Subtotal"]</th>
                        <th>@Localizer["Discount"]</th>
                        <th>@Localizer["VAT"]</th>
                        <th>@Localizer["Total"]</th>
                    </tr>
                    <tr>
                        <td id="summary-sub-total">0.000</td>
                        <td id="summary-discount">- %</td>
                        <td id="summary-vat">0.000</td>
                        <td id="summary-total">0.000</td>
                    </tr>
                </table>
            </div>

            <div class="group-btns fixed-width">
                <div class="wrap-btn dropbox up crumb list">
                    <div class="dropbox-btn btn bg-dark-purple"><i class="fas fa-ellipsis-h fa-fw"></i></div>
                    <label class="label">@Localizer["Functions"]</label>

                    <div class="wrap-dropbox-content">
                        <div class="dropbox-content">
                            <a href="#" id="fx-clear-order" class="option"><i class="fas fa-broom fa-fw"></i> @Localizer["Clear Order"]</a>
                            <a href="#" id="fx-discount-membercard" class="option"><i class="fa fa-users fa-fw"></i> @Localizer["Discount Member"]</a>
                            <a href="#" id="fx-discount-item" class="option"><i class="fas fa-percent fa-fw"></i> @Localizer["Discount Item"]</a>
                            <a href="#" id="fx-cancel-receipts" class="option"><i class="fas fa-trash-restore fa-fw"></i> @Localizer["Cancel Receipt"]</a>
                            <a href="#" id="fx-return-receipts" class="option"><i class="fas fa-file-invoice-dollar fa-fw"></i> @Localizer["Return Receipt"]</a>
                            <a href="/ItemMasterData/Create" id="fx-add-new-item" class="option"><i class="fas fa-plus-square fa-fw"></i> @Localizer["Add New Item"]</a>
                        </div>
                        <div class="dropbox-navigator">
                            <div class="i-close far fa-window-close"></div>
                        </div>
                    </div>
                </div>
                <div id='fx-discount-total' class="wrap-btn">
                    <div class="btn bg-red"><i class="fas fa-percent fa-fw"></i></div>
                    <label class="label">@Localizer["Discount"]</label>
                </div>

                <div class="wrap-btn" id="fx-edit-price">
                    <div class="btn bg-orange"><i class="fas fa-clone fa-edit"></i></div>
                    <label class="label" id="bill-pro">@Localizer["Edit Price"]</label>
                </div>
                <div class="wrap-btn dropbox up">
                    <div id="goto-panel-payment" class="btn bg-dark-pink"><i class="far fa-money-bill-alt fa-fw"></i></div>
                    <label class="label">@Localizer["Pay"]</label>
                </div>
            </div>
            <!-- <div class="collapser v-collapser arrow-left"></div> -->
        </div><!--end left-panel-->

        <div class="right-panel">
            <nav class="nav-toolbar top">
                <div class="item nav-toolbar desktop">
                    <div class="widget-stackcrumb clear-initial-trail group-item-steps">
                        <div class="all-groups active">@Localizer["All"]</div>
                    </div>
                </div>
                <span class="item grow"></span>
                <div class="item group-search-boxes">
                    <div id="open-barcode" class="search-box">
                        <div class="input-box">
                            <i id="i-search" class="i-search fas fa-search"></i>
                            <input class="ignore" placeholder="@Localizer["Read barcode ..."]" autocomplete="off" id="item-search-barcode" type="text">
                            <i id="i-close" class="i-close far fa-times-circle close-barcode"></i>
                        </div>
                        <div id="btn-search" class="btn-search"><i class="fas fa-barcode"></i></div>
                    </div>
                    <div id="text-search" class="search-box">
                        <div class="input-box">
                            <i id="i-search" class="i-search fas fa-search"></i>
                            <input class="ignore" id="item-search" type="text" autocomplete="off" placeholder="@Localizer["Search name, barcode ..."]">
                            <i id="i-close" class="i-close far fa-times-circle"></i>
                        </div>
                        <div id="btn-search" class="btn-search"><i class="fas fa-search"></i></div>
                    </div>
                </div>

            </nav>
            <nav class="nav-toolbar responsive">
                <div class="item widget-stackcrumb desktop clear-initial-trail group-item-steps">
                    <div class="all-groups active">@Localizer["All"]</div>
                </div>
            </nav>
            <div class="group-item-views">
                <div id="group-item-gridview" class="gridview item-gridview" style="display:none;">
                    <!--gridview-->
                    <div class="wrap-grid widget-scrollbar copper-lite">
                        @*Grid object here*@
                        @*@foreach (var group1 in Model.ItemGroup1s)
                        {
                            <div class="grid">
                                <div data-id="@group1.ItemG1ID" data-group="1" data-group1="@group1.ItemG1ID" data-group2="0" data-group3="0" data-name="@group1.Name" hidden></div>
                                <div class="grid-caption">@group1.Name </div>
                                <div class="grid-image">
                                    <img src="~/Images/itemgroup/@group1.Images" />
                                </div>
                            </div>
                        }*@

                    </div>

                </div><!--end-gridview-->
                <div id="group-item-listview" class="item-listview widget-scrollbar" style="display:none;">
                    <table>
                        <thead>
                            <tr>
                                <th>@Localizer["Code"]</th>
                                <th>@Localizer["Khmer name"]</th>
                                <th>@Localizer["Unit price"]</th>
                                <th>@Localizer["UoM"]</th>
                                <th>@Localizer["Choose"]</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div id="image-not-found" class="not-found hide">
                    <img src="~/pos/images/no-products.png" />
                </div>
                <svg class="svg-header-curve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#7C555C" fill-opacity="1" d="M0,0L120,16C240,32,480,64,720,106.7C960,149,1200,203,
                                1320,229.3L1440,256L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z">
                    </path>
                </svg>
                <svg class="svg-footer-curve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#7C555C" fill-opacity="1"
                          d="M0,32L120,64C240,96,480,160,720,208C960,256,1200,288,1320,304L1440,320L1440,320L1320,
                                    320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
                    </path>
                </svg>
            </div>

            <nav class="nav-toolbar bottom">
                <div class="item" id="pagination-list" style="z-index: 1;"></div>
                <span class="grow"></span>
                <div class="item">
                    <div id="datetime" class="datetime">@DateTime.Now.ToString("M/d/yyyy h:m:ss tt")</div>
                </div>
            </nav>
        </div><!--End right-panel-->
    </div><!--End panel-group-items-->

</div>

<!--Check admin authorization-->
<div id="admin-authorization" hidden>
    <form class="block">
        <div class="stack-block">
            <label>Username</label>
            <input class="security-username width-full" autocomplete="off">
        </div>
        <div class="stack-block">
            <label>Password</label>
            <input class="security-password width-full" type="password" autocomplete="off">
        </div>
        <div class="error-security-login mx1"></div>
    </form>
</div>

<!--Items not enough stock-->
<div id="item-stock-info" class='wrap-table widget-scrollbar' hidden>
    <table id="item-stock-info-listview">
        <tr>
            <th>@Localizer["Code"]</th>
            <th>@Localizer["Name"]</th>
            <th>@Localizer["In Stock"]</th>
            <th>@Localizer["Ordered Qty"]</th>
            <th>@Localizer["Committed Qty"]</th>
        </tr>
    </table>
</div>

<div id="choose-customer-content" style="display: none; height: 80vh;">
    <div class="group-search-boxes">
        <div id="text-search" class="search-box show">
            <div class="input-box" style="width: 250px;">
                <i id="i-search" class="i-search fas fa-search"></i>
                <input class="ignore" id="search-customers" type="text" autocomplete="off" placeholder="@Localizer["Search ..."]">
                <i id="i-close" class="i-close far fa-times-circle"></i>
            </div>
            <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
        </div>
    </div>

    <fieldset class="shadow widget-scrollbar grid-box" style="width: 800px; height: 350px;">
        <legend class="title">@Localizer["Customers"]</legend>
        <div class="error-message fn-red"></div>
        <table id="listview-customers">
            <tr>
                <th>@Localizer["Code"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Type"]</th>
                <th>@Localizer["Phone"]</th>
                <th>@Localizer["Email"]</th>
                <th>@Localizer["Choose"]</th>
            </tr>
        </table>
    </fieldset>
</div>

<!-----------------------------Discount Member Card--------------------------->
<div id="discount-membercard-content" style="display: none;">
    <div class='wrap-block col-two'>
        <div class='left-block m0'>
            <div class="block">
                <div class="group-search-boxes myb1">
                    <div id="text-search" class="search-box show">
                        <div class="input-box" style="width: 250px;">
                            <i id="i-search" class="i-search fas fa-search"></i>
                            <input class="ignore" id="search-membercards" type="text" autocomplete="off" placeholder="@Localizer["Search ..."]">
                            <i id="i-close" class="i-close far fa-times-circle"></i>
                        </div>
                        <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
                    </div>
                </div>
                <div class='bg-gray widget-scrollbar' style="height: 300px;">
                    <table id="listview-discount-membercards">
                        <tr>
                            <th>@Localizer["No."]</th>
                            <th>@Localizer["Card Name"]</th>
                            <th>@Localizer["Card Type"]</th>
                            <th></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class='right-block m0'>
            <fieldset class="shadow">
                <legend class="title">@Localizer["Membercard Detail"]</legend>
                <div class="error-message fn-red"></div>
                <table>
                    <tr>
                        <td class="width-25pc">@Localizer["RefNo."]</td>
                        <td>:<span class="member-id"></span></td>
                    </tr>
                    <tr>
                        <td class="width-25pc">@Localizer["Name"]</td>
                        <td>:<span class="member-name"></span></td>
                    </tr>
                    <tr>
                        <td class="width-25pc">@Localizer["Card Type"]</td>
                        <td>:<span class="member-card-type"></span></td>
                    </tr>
                    <tr>
                        <td class="width-25pc">@Localizer["Discount"]</td>
                        <td>:<span class="member-discount"></span></td>
                    </tr>
                    <tr>
                        <td class="width-25pc">@Localizer["Expire Date"]</td>
                        <td>:<span class="member-expire"></span></td>
                    </tr>
                    <tr>
                        <td class="width-25pc" style="vertical-align: top;">@Localizer["Description"]</td>
                        <td><textarea class="member-description" readonly style="height: 100px;"></textarea></td>
                    </tr>

                </table>
            </fieldset>

        </div>

    </div>
</div>

<!--Discount item-->
<div id="discount-item" style="display: none;">
    <div class="stack-block width-half">
        <label>@Localizer["Discount Type"]</label>
        <input class="discount-item-type" value="Percent ( % )" readonly />
    </div>
    <fieldset class="shadow wrap-table widget-scrollbar" style="height: 100%;">
        <legend class="title">@Localizer["List of items"]</legend>
        <div class="error-message fn-red"></div>
        <table class="discount-item-listview">
            <tr>
                <th>@Localizer["Code"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["UnitPrice"]</th>
                <th>@Localizer["Qty"]</th>
                <th>@Localizer["Uom"]</th>
                <th>@Localizer["Discount Rate"]</th>
                <th>@Localizer["Discount Value"]</th>
                <th>@Localizer["Total"]</th>
            </tr>
        </table>
    </fieldset>
</div>

<!--Discount total-->
<div id="content-discount-total" hidden>
    <div class="stack-block">
        <label>@Localizer["Total Amount"] (<span class="currency-type"></span>)</label>
        <input class="grandtotal" readonly>
    </div>
    <div class="flexbox">
         <div class="stack-block width-half">
            <label>@Localizer["Discount"] (<span class="currency-type"></span>)</label>
            <input class="discount-value" type="search" autofocus>
        </div>
        <div class="stack-block width-half">
            <label>@Localizer["Discount (%)"]</label>
            <input class="discount-percent" type="search">
        </div>       
    </div>
    <span class="discount-total-erorr fn-red"></span>
</div>

<!--Edit item price-->
<fieldset id="edit-item-price" class='shadow wrap-table widget-scrollbar' style="display: none; width: 700px; height: 350px;">
    <legend class="title">@Localizer["List of items"]</legend>
    <table id="edit-item-price-listview">
        <tr>
            <th style="width: 200px;">@Localizer["Code"]</th>
            <th>@Localizer["Name"]</th>
            <th>@Localizer["Name 2"]</th>
            <th>@Localizer["Unit Price"]</th>
            <th>@Localizer["Qty"]</th>
            <th>@Localizer["Uom"]</th>
            <th>@Localizer["Discount Rate"]</th>
            <th>@Localizer["Total"]</th>
        </tr>
    </table>
</fieldset>

<!--Add new item-->
<div id="add-new-item-content" class='wrap-table widget-scrollbar' style="display: none; height: 355px;">
    <table id="add-new-item-listview">
        <tr>
            <th>
                <i id="add-new-row" class="fas fa-plus-circle fa-lg csr-pointer fn-light-gray"></i>&nbsp;<span>@Localizer["Code"]</span>
            </th>
            <th>@Localizer["Name"]</th>
            <th>@Localizer["Unit Price"]</th>
            <th>@Localizer["Qty"]</th>
            <th>@Localizer["Total"]</th>
            <th>@Localizer["Print To"]</th>
        </tr>
    </table>
</div>

<!--Scripts embeded-->
<div hidden id="print-template-url">@Json.Serialize(Model)</div>
<script src="~/pos/output/core/core.js"></script>
<script src="~/pos/js/pos-core.js"></script>
<script src="~/pos/js/pos-utils.js"></script>
<script src="~/pos/js/pos-payment.js"></script>
<script src="~/pos/js/start-kbms.js"></script>
