<link href="~/Admin/GoodsReceipt/css/goods-receipt.css" rel="stylesheet" />
<div class="loading" id="loading" hidden>
    <img class="img-loading" src="~/ajaxloader/loading.gif" />
</div>
<div class="card card-body">
    <partial name="../Components/Purchases/_SerailNumber.cshtml" />
    <partial name="../Components/Purchases/_BatchNo.cshtml" />
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">@Localizer["GoodsReceipt"]</legend>
        <div class="row">
            <div class="col-md-4">
                <label class="label_warehouse">@Localizer["Warehouse"]</label>
                <select class="content_warehouse" id="txtwarehouse_from">
                    <option value="0" selected disabled>--- select ---</option>
                </select>
                <div class="text-danger requried_warehouse"></div>
                <span class="rquried_warehose"></span>


                <label class="label_warehouse">@Localizer["Branch"]</label>
                <select class="content_warehouse" id="branch">                 
                </select>

                 
                    
                <label class="label_warehouse">@Localizer["Invoice Nº"]</label>
                <select class="content_warehouse" id="txtInvoice">
                </select>

                <label class="label_reff_no">@Localizer["NumberNº"]</label>
                <input class="content_reff_no" type="text" readonly id="next_number" autocomplete="off" />

                @* <label class="label_user">@Localizer["User"]</label>
                    <input class="content_user" type="text" value="@User.FindFirst("FullName").Value" id="txtUser"
                    readonly /> *@
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-5">
                <div class="content_icon">
                    <label class="label_postingdate">@Localizer["PostingDate"]</label>
                    <input class="content_postingdate" type="date" id="txtPostingdate" autocomplete="off" />
                </div>
                <div class="content_icon">
                    <label class="label_documentdate">@Localizer["DocumentDate"]</label>
                    <input class="content_documentdate" type="date" id="txtDocumentDate" autocomplete="off" />

                </div>
                <label class="label_ap">@Localizer["RefNº"]</label>
                <input class="content_ap" type="text" id="txtref_no" autocomplete="off" />
                @if (!UserManager.CheckEdition(SystemEdition.Basic))
                {
                    <label class="label_user ">@Localizer["Payment Means"]</label>
                    <input class="content_user" id="glacc" readonly />
                    <input class="content_user" id="glaccID" hidden readonly value="0" />
                }


            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" placeholder="@Localizer["Barcode search"]" id="txtbarcode" class="form-control" />
                <div class="input-group-append">
                    <button class="btn btn-xs btn-kernel" id="ch-item_master"
                        style="height: 25px; line-height: 25px">@Localizer["Choose Item"]</button>
                </div>
            </div>
            <div class="rquried_item text-danger"></div>
            <div class="item_not_difine text-danger"></div>
        </div>
    </div>
    <fieldset class="scheduler-borders">
        <legend class="scheduler-border">@Localizer["GoodsReceiptDetail"]</legend>
        <div class="wrap-table list widget-scrollbar" style="height: 23vh; overflow: auto">
            <table id="list-items">
                <thead>
                    <tr>
                        <th>@Localizer["#"]</th>
                        <th>@Localizer["Code"]</th>
                        <th>@Localizer["Item Name 1"]</th>
                        <th>@Localizer["Item Name 2"]</th>
                        <th>@Localizer["Quantity"]</th>
                        <th>@Localizer["Cost"]</th>
                        <th>@Localizer["Warehouse"]</th>
                        <th>@Localizer["Payment Means"]</th>
                        <th>@Localizer["UoM"]</th>
                        <th>@Localizer["Type"]</th>
                        <th id="col-to-append-after-detail">@Localizer["Action"]</th>
                    </tr>
                </thead>
            </table>
        </div>
    </fieldset>

    <div id="item-master-content" style="display:none; height: 90vh">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="group-search-boxes" style="right:0%;">
                    <div id="text-search" class="wrap-search-box">
                        <div class="wrap-input show">
                            <i id="i-search" class="i-search fas fa-search"></i>
                            <input class="ignore" id="txtseaerch" autocomplete="off" type="text"
                                placeholder="@Localizer["Search ..."]">
                            <i id="i-close" class="i-close far fa-times-circle"></i>
                        </div>
                        <div id="btn-search" class="btn-search" style="display: none;">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="container-list" class="wrap-table myt1 widget-scrollbar" style="height: 90%">
            <table id="item-master">
                <tr>
                    <th>@Localizer["#"]</th>
                    <th>@Localizer["Code"]</th>
                    <th>@Localizer["Item Name 1"]</th>
                    <th>@Localizer["Item Name 2"]</th>
                    <th>@Localizer["In Stock"]</th>
                    <th>@Localizer["Currency"]</th>
                    <th>@Localizer["UoM"]</th>
                    <th>@Localizer["Barcode"]</th>
                    <th id="col-to-append-after">@Localizer["Choose"]</th>
                </tr>
            </table>
            <div id="loadingitem" hidden>
                <img class="loadingitem" src="~/ajaxloader/loading.gif" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <label class="label_remark">@Localizer["Remark"]</label>
                <textarea id="txtRemark" class="content_remark"></textarea>
            </div>
            <button class="btn btn-xs btn-kernel" id="saveData">@Localizer["Add"]</button>
            <button class="btn btn-xs btn-kernel" onclick="cancelpurchase()">@Localizer["Cancel"]</button><br />
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="err-succ-message"></div>
    <div class="modal fade" id="ModalManageExpire">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <i style="color:white;"><b>@Localizer["SetExpireDate"]</b></i>
                </div>
                <div class="modal-body">
                    <div class="wrap-table list">
                        <table id="item-manage">
                            <thead>
                                <tr>
                                    <th>@Localizer["Item Name 1"]</th>
                                    <th>@Localizer["Item Name 2"]</th>
                                    <th>@Localizer["Uom"]</th>
                                    <th>@Localizer["ExpireDate"]</th>
                                    @* <th>@Localizer["AlertStock"]</th>*@
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-xs btn-kernel" data-dismiss="modal">@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalFindBarcode">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header" style="padding:5px; color:white;">
                    <i>@Localizer["Choose Uom"]</i>
                </div>
                <div class="modal-body">
                    <div class="wrap-table list">
                        <table id="list_findbarcode">
                            <tr>
                                <th class="boldth">@Localizer["Code"]</th>
                                <th class="boldth">@Localizer["Item Name 1"]</th>
                                <th class="boldth">@Localizer["Item Name 2"]</th>
                                <th class="boldth">@Localizer["UoM"]</th>
                                <th class="boldth">@Localizer["Choose"]</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer" style="padding:5px;">
                    <button class="btn btn-xs btn-kernel" data-dismiss="modal">@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="active-gl-content" style="display:none; height: 90vh">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="group-search-boxes mb-2">
                <div id="text-search" class="wrap-search-box">
                    <div class="wrap-input show">
                        <i id="i-search" class="i-search fas fa-search"></i>
                        <input class="ignore" id="txtSearchPM" autocomplete="off" type="text" placeholder="Search ...">
                        <i id="i-close" class="i-close far fa-times-circle"></i>
                    </div>
                    <div id="btn-search" class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-scrollbar" style="height: 90%">
        <table id="list-glacc">
            <thead>
                <tr>
                    <th class="text-center" style="width: 0%">@Localizer["No"]</th>
                    <th class="text-center">@Localizer["Code"]</th>
                    <th class="text-center">@Localizer["Name"]</th>
                    <th style="width: 0%">@Localizer["Choose"]</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<input type="text" id="PurchaseAPID" hidden />
<input type="text" id="seriesGR" hidden />
<input type="text" id="SeriesDetailID" hidden />
<input type="text" id="JEID" hidden />
<input type="text" id="JENumber" hidden />
<input type="text" id="number" hidden />
<div id="data-invoice" hidden>@Json.Serialize(Model)</div>
<p id="UserID" hidden>@User.FindFirst("BranchID").Value</p>
<p id="BranchID" hidden>@User.FindFirst("BranchID").Value</p>
<script src="~/Admin/GoodsReceipt/js/goods-receipt.js"></script>
