
@{
    ViewData["Title"] = "Detail Sale Report";
}
<head>
    <link href="~/Admin/DevReport/css/DevReport.css" rel="stylesheet" />
</head>
<body class="dx-viewport">
    <div class="card card-body">
        <div class="row">
            <div class="col-md-2">
                <label class="lable_datefrom">@Localizer["Date From"]</label>
                <input type="date" class="input_datefrom" id="datefrom" />
            </div>
            <div class="col-md-2">
                <label class="lable_dateto">@Localizer["Date To"]</label>
                <input type="date" class="input_dateto" id="dateto" />
            </div>
            <div class="col-md-4 mt-4">
                <span><input type="checkbox" id="douType" /></span><label class="lable_dateto">@Localizer["Display Reconciled Transactions "]</label>


            </div>

            <div class="col-md-4 ">
                <button class="btn btn-xs btn-kernel" id="filter">@Localizer["Filter"]</button>
                @*<button class="btn btn-xs btn-primary" id="preview">@Localizer["Preview"]</button>*@
            </div>

            <div id="gridContainer"></div>
            <div class="options">
                <div class="option">
                    <div id="autoExpand"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(function () {
        filterData();

        $('#filter').click(function () {
            filterData(this);
        });
        function filterData(button) {
            let btn_filter = $(button).children("i.fa-search");
            var date_from = $("#datefrom").val();
            var date_to = $("#dateto").val();
            var doctype = $("#douType").prop("checked") ? true : false;
            $.ajax({
                url: "/BPAging/GetVenAging",
                type: 'GET',
                dataType: 'JSON',
                data: {
                    DateFrom: date_from,
                    DateTo: date_to,
                    DeplayRe: doctype
                },
                beforeSend: function () {
                    btn_filter.addClass("fa-spinner fa-spin");
                },
                success: function (reponse) {
                    bindGrid(reponse);
                    btn_filter.removeClass("fa-spinner fa-spin");
                }
            });
        }
        function bindGrid(reponse) {
            var dataGrid = $("#gridContainer").dxDataGrid({
                dataSource: reponse,
                allowColumnReordering: true,
                showBorders: true,
                hoverStateEnabled: true,
                allowColumnResizing: true,
                columnResizingMode: "nextColumn",
                columnMinWidth: 50,
                columnAutoWidth: true,
                scrolling: {
                    columnRenderingMode: "virtual"
                },
                grouping: {
                    autoExpandAll: false,
                },
                searchPanel: {
                    visible: true
                },
                filterRow: {
                    visible: false,
                    applyFilter: "auto"
                },

                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20, 50, 100],
                    showInfo: true
                },
                loadPanel: {
                    enabled: true
                },
                groupPanel: {
                    visible: false
                },

                columns: [
                    {
                        caption: "Vendor Code",
                    },
                    {
                        dataField: "VendorCode",
                        caption: "Vendor Code",
                        groupIndex: 0

                    },
                    //{
                    //    dataField: "VendorName",
                    //    caption: "Vendor Name",
                    //    groupIndex: 0

                    //},
                    {
                        caption: "Type",
                        dataField: "DouType",

                    },
                    {
                        caption: "Doc.No",
                        dataField: "InvoiceNo"
                    },
                    {
                        caption: "Instal. No",
                        dataField: "Qty"
                    },
                    {
                        caption: "Posting Date",
                        dataField: "PostingDate"
                    },
                    {
                        caption: "Due Date",
                        dataField: "DueDate",
                    },
                    {
                        dataField: "BP Ref.No",
                        alignment: "right"
                    },
                    {
                        dataField: "BalanceDue",
                        caption: "Banlance Due"

                    }


                ],

                summary: {
                    groupItems: [

                        {
                            showInColumn: "BalanceDue",
                            column: "TotalBalance",
                            summaryType: "max",
                            //valueFormat: "currency",
                            displayFormat: "Total: {0}",
                            showInGroupFooter: false,
                            alignByColumn: true
                        },

                    ],
                },
                export: {
                    enabled: true
                },
                onExporting: function (e) {
                    var workbook = new ExcelJS.Workbook();
                    var worksheet = workbook.addWorksheet('Vendor-Aging-report');

                    DevExpress.excelExporter.exportDataGrid({
                        component: e.component,
                        worksheet: worksheet,
                        topLeftCell: { row: 4, column: 1 }
                    }).then(function (dataGridRange) {
                        // header
                        var headerRow = worksheet.getRow(2);
                        headerRow.height = 30;
                        worksheet.mergeCells(2, 1, 2, 7);
                        headerRow.getCell(1).value = 'Vendor Aging Report';
                        headerRow.getCell(1).font = { name: 'Segoe UI Light', size: 22 };
                        headerRow.getCell(1).alignment = { horizontal: 'center' };
                    }).then(function () {
                        // https://github.com/exceljs/exceljs#writing-xlsx
                        workbook.xlsx.writeBuffer().then(function (buffer) {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Vendor-Aging-report.xlsx');
                        });
                    });
                    e.cancel = true;
                },
                onToolbarPreparing: function (e) {
                    var dataGrid = e.component;
                    e.toolbarOptions.items.unshift({
                        location: "before",
                        template: function () {
                            return
                        }
                    },
                        {
                            location: "after",
                            widget: "dxButton",
                            options: {
                                icon: "refresh",
                                onClick: function () {
                                    dataGrid.refresh();
                                    filterData();
                                }
                            }
                        },
                       
                    );
                }

            }).dxDataGrid("instance");
            $("#autoExpand").dxCheckBox({
                value: false,
                text: "Expand All Groups",
                onValueChanged: function (data) {
                    dataGrid.option("grouping.autoExpandAll", data.value);
                }
            });
        }

    });

</script>
