<link href="~/Admin/Bank/css/incoming-payment.css" rel="stylesheet" />
<div hidden id="data-invioce">@Json.Serialize(Model)</div>
<div class="card card-body">
    <div class="row btn_Find">
        <div class="col-md-12">
            <button class="btn btn-xs btn-kernel findbtn">@Localizer["Find"]</button>
            <a class="btn btn-xs btn-kernel" asp-controller="Incomingpayment"
                asp-action="IncomingpaymentOrderHistory">@Localizer["Incoming PaymentOrder History"]</a>
        </div>
    </div>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">@Localizer["Incoming PaymentOrder"]</legend>
        <div class="row">
            <div class="col-md-4">
                <label class="label_vendor">@Localizer["Customer"]</label>
                <input type="text" readonly id="show-list-vendor" class="content_vendor txtvendor" />
                <input type="text" id="vendorID" hidden />
                <label class="label_reff_no">@Localizer["Branch"]</label>
                <select id="branch" class="content_reff_no"></select>



                <label class="label_reff_no" id="labelType">@Localizer["Type"]</label>
                <select id="type" class="content_reff_no">
                    <option value="0" selected disabled>@Localizer["---Select Type---"]</option>
                    <option value="all">@Localizer["All"]</option>
                    <option value="SP">@Localizer["SP"]</option>
                    <option value="IN">@Localizer["IN"]</option>
                    <option value="CD">@Localizer["CD"]</option>
                    <option value="CN">@Localizer["CN"]</option>
                </select>
                <label class="label_ap">@Localizer["RefNº"]</label>
                <input class="content_ap" type="text" id="txtref_no" autocomplete="off" />
                <label class="label_user">@Localizer["User"]</label>
                <input class="content_user" type="text" value='@User.FindFirst("FullName").Value' id="txtUser"
                    readonly />

                <label class="label_reff_no">@Localizer["NumberNº"]</label>
                <select id="txtInvoice" class="content_reff_no"></select>
                <label class="label_reff_no">@Localizer["Number"]</label>
                <input class="content_reff_no" type="text" id="next_number" autocomplete="off" readonly />
                <div class="content_icon">
                    <label class="label_postingdate">@Localizer["PostingDate"]</label>
                    <input class="content_postingdate" type="date" id="txtPostingdate" autocomplete="off" />
                </div>
                <div class="content_icon">
                    <label class="label_documentdate">@Localizer["DocumentDate"]</label>
                    <input class="content_documentdate" type="date" id="txtDocumentDate" autocomplete="off" />

                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-6">

                <div class="content_icon ">
                    @if (!UserManager.CheckEdition(SystemEdition.Basic))
                    {
                        <label class="label_user mb-3">@Localizer["Payment Means"]</label>
                        <input class="content_user" id="paymentMeansID" hidden readonly value="0" />
                    }

                    <div class="wrap-table widget-scrollbar">
                        <table id="list-payment">
                            <thead>
                                <tr>
                                    <th class="text-center">@Localizer["No"]</th>
                                    <th class="text-center">@Localizer["Amount"]</th>
                                    <th class="text-center">@Localizer["Amount System currency"]</th>
                                    <th class="text-center">@Localizer["Name"]</th>
                                    <th class="text-center">@Localizer["Currency"]</th>
                                </tr>
                            </thead>

                        </table>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 flexbox flex-end">

                    </div>
                    <div class="col-md-6 flexbox flex-end">
                        <label class="text-center">@Localizer["Total Amount (Sys)"]</label>
                        <input id="total_amount" disabled />

                    </div>
                </div>

            </div>

        </div>
    </fieldset>

   
    <fieldset class="scheduler-borders">
        <legend class="scheduler-border">@Localizer["IncomingPaymentDetail"]</legend>
        <div class="wrap-table list widget-scrollbar">
            <table id="list-items">
                <thead>
                    <tr>
                        <th class="boldth">@Localizer["DocumentNo"]</th>
                        <th class="boldth" style="min-width:120px;">@Localizer["DucumentType"]</th>
                        <th class="boldth">@Localizer["Date"]</th>
                        <th class="boldth">@Localizer["OverdueDay"]</th>
                        <th class="boldth">@Localizer["Total"]</th>
                        <th class="boldth" style="min-width:120px;">@Localizer["AppliedAmount"]</th>
                        <th class="boldth">@Localizer["BalanceDue"]</th>
                        <th class="boldth" style="min-width:140px;">@Localizer["CashDiscount"] %</th>
                        <th class="boldth" style="min-width:140px;">@Localizer["TotalDiscount"] $</th>
                        <th class="boldth" style="min-width:110px;">@Localizer["TotalPayment"]</th>
                        @*<th class="boldth">@Localizer["Cash"]</th>*@
                        <th class="boldth" style="min-width:130px;">
                            @Localizer["Selected"] <input type="checkbox" id="selectall"
                                style="vertical-align:middle;margin:0px 0 0 5px;" />
                        </th>
                    </tr>
                </thead>
            </table>

            <table id="list-items-cancel" hidden>
                <thead>
                    <tr>
                        <th class="boldth">@Localizer["DocumentNo"]</th>
                        <th class="boldth" style="min-width:120px;">@Localizer["DucumentType"]</th>
                        <th class="boldth">@Localizer["Date"]</th>
                        <th class="boldth">@Localizer["OverdueDay"]</th>
                        <th class="boldth">@Localizer["Currency"]</th>
                        <th class="boldth">@Localizer["Total"]</th>
                        <th class="boldth" style="min-width:120px;">@Localizer["BalanceDue"]</th>
                        <th class="boldth">@Localizer["AppliedAmount"]</th>
                        <th class="boldth" style="min-width:140px;">@Localizer["CashDiscount"] %</th>
                        <th class="boldth" style="min-width:140px;">@Localizer["TotalDiscount"] $</th>
                        <th class="boldth" style="min-width:110px;">@Localizer["TotalPayment"]</th>
                    </tr>
                </thead>
            </table>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-md-4">
            <label class="lable_remark">@Localizer["Remark"]</label>
            <textarea class="content_remark" id="txtremark"></textarea>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <label class="lable_total">@Localizer["Total Amount (SYS)"]</label>
            <span class="currency_text"></span>
            <input class="content_total" id="totalamount_due" type="text" readonly hidden />
            <input type="text" class="content_total" id="totalamount_due_asing" readonly />
        </div>
       
    </div>
    <div id="error-summary"></div>
    <div id="vendor-content" style="display:none; height: 90vh">
        <div class="group-search-boxes float-right mb-2">
            <div id="text-search" class="wrap-search-box">
                <div class="wrap-input show">
                    <i id="i-search" class="i-search fas fa-search"></i>
                    <input class="ignore" id="VendorSearch" autocomplete="off" type="text" placeholder="Search ...">
                    <i id="i-close" class="i-close far fa-times-circle"></i>
                </div>
                <div id="btn-search" class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
            </div>
        </div>
        <table id="list-vendor" class="table-responsive-sm table-responsive widget-scrollbar" style="height: auto;">
            <thead>
                <tr>
                    <th>@Localizer["No"]</th>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Phone"]</th>
                    <th>@Localizer["Choose"]</th>
                </tr>
            </thead>
        </table>
        <div class="row mt-4">
            <div class="col-md-5"></div>
            <div class="col-md-6">
                <div class="reload">
                    <img src="~/Images/ajaxloader/loading.gif" />
                </div>
            </div>
        </div>
    </div>

 



    <div class="row btnadd" id="div-add-cancel">
        <div class="col-md-12">
            <button class="btn btn-xs btn-kernel btn_add">@Localizer["Add"]</button>
            <button class="btn btn-xs btn-kernel btn_cancel">@Localizer["Cancel"]</button>
        </div>
    </div>
    <div class="row btnadd" id="div-cancel" hidden>
        <div class="col-md-12">
            <button class="btn btn-sm btn-danger" id="btn_cancel">@Localizer["Cancel"]</button>
        </div>
    </div>
</div>
<p hidden id="UserID">@User.FindFirst("UserID").Value</p>
<p hidden id="BranchID">@User.FindFirst("BranchID").Value</p>
<input hidden id="DocumentID" />
<input hidden id="SeriesID" />
<input hidden id="SeriesDetailID" />
<input type="text" id="number" hidden />
<input type="text" id="JEID" hidden />
<input type="text" id="JENumber" hidden />
<input type="text" id="id" hidden value="0" />
<script src="~/admin/bank/js/incoming-paymentorder.js"></script>
<div hidden id="model-data">@Json.Serialize(Model)</div>