@model IEnumerable<CKBS.Models.Services.Administrator.SystemInitialization.PeriodIndicator>

<style>
    ul.ck-pagination {
        margin-top: -18% !important;
    }
</style>
<div class="card card-body">
    <div class="row">
        <div class="col-md-2">
            <a asp-action="Create" class="btn btn-xs btn-kernel">@Localizer["Create"]</a>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-4">
            <div class="group-search-boxes">
                <div id="text-search" class="wrap-search-box">
                    <div class="wrap-input show">
                        <i id="i-search" class="i-search fas fa-search"></i>
                        <input class="ignore" id="txtSearch" autocomplete="off" type="text" placeholder="@Localizer["Search ..."]">
                        <i id="i-close" class="i-close far fa-times-circle"></i>
                    </div>
                    <div id="btn-search" class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-table myt1" style="height: 65vh">
       
                <table id="allw-gl">
                    <thead>
                        <tr>
                            <th class="text-center">@Localizer["Name"]</th>
                            <th class="text-center">@Localizer["Action"]</th>
                            @*<th class="text-center">@Localizer["Other"]</th>*@
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td hidden >@item.ID</td>
                                <td class="text-center">@item.Name</td>
                                <td class="text-center">
                                    <a asp-action="edit" asp-route-id="@item.ID"><i class="fas fa-edit"></i></a>
                                   @* <button data-target="#popup" id="delete" data-toggle="modal" class="fa fa-trash"></button>*@
                                    <a asp-action="delete" asp-route-id="@item.ID" data-target="#popup" id="delete" data-toggle="modal"><i class="fa fa-trash"></i></a>
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
        <div class="modal fade" id="popup">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure that you want to delete?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" id="clickYes" class="btn btn-primary" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input hidden id="temp-id" />

<script>
    $("#table-body").on("click", "#delete", function () {
        var cut = $(this).closest('tr');
        var id = cut.find('td:eq(0)').text();
        $("#temp-id").val(id);

    });

    $("#clickYes").on("click", function () {
        var id = $("#temp-id").val();
        $.ajax({
            url: "/PeriodIndicator/Delete",
            type: "post", //post can include delete update insert in database;
            dataType: "Json",
            data: {id }, 
            //complete: function () {
            //    location.reload();
            //}
        });
    });
</script>
