@model List<KEDI.Core.Premise.Models.ServicesClass.Report.IncomingPaymentReport>
@{
    ViewData["Title"] = "Preview Incoming Payments";
    Layout = "~/Views/Shared/_Layout_Print.cshtml";
}
@{
    double SumTotal=0;
}
<div>
    <div class="row">
        <div class="col-xs-4">
    @*<img src="~/Images/company/@Model.First().HeaderCloseShift.Logo" width="150" height="130" style="padding:0px 0px 0px 10px;" />*@
    </div>
        <div class="col-xs-5" style="margin-top:70px;">
            <div class="text-center" style="opacity:0;">.</div>
            <div class="text-center" style="font-size:30px; margin-top:-20px;"> Incoming Payment </div>
            <div class="row" style="margin-top:75px;"></div>
        </div>
        <div class="col-xs-4"> </div>
    </div>
   
    <div>
        <table class="table" id="expectedTable" border="1" cellpadding="3" cellspacing="0">
            <thead style="background-color:#5F758B;">
                <tr>
                    <th class="header" style="color:white;">@Localizer["Item Invoice"]</th>
                    <th class="header" style="color:white;">@Localizer["Date"]</th>
                    <th class="header" style="color:white;">@Localizer["Vendor"]</th>
                    <th class="header" style="color:white;">@Localizer["User"]</th>
                    <th class="header" style="color:white;">@Localizer["Total Amount Due"]</th>
                    <th class="header" style="color:white;">@Localizer["Total Payment"]</th>
                    <th class="header" style="color:white;">@Localizer["Status"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    SumTotal+= @item.Totalpayment;
                    <tr>
                        <td>@item.ItemInvoice</td>
                        <td>@item.Date</td>
                        <td>@item.Vendor</td>
                        <td>@item.User</td>
                        <td style="text-align: center;">@item.TotalAmountDue</td>
                        <td style="text-align: center;">@Model.FirstOrDefault().Currency @item.Totalpayment</td>
                        <td>@item.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   
    <div class="row">
        <div class="col-xs-4">
            <div style="margin-top:65px;">
                <label> @Localizer["Date"]/........../........../20.......</label>
            </div>
            <div style="margin-top:10px;"><b><u> @Localizer["Published by"] </u></b></div>
        </div>
        <div class="col-xs-4" style="margin-top:65px;">
            <div>
                <label> @Localizer["Date"]/........../........../20.......</label>
            </div>
            <div style="margin-top:10px;"><b><u> @Localizer["Reviewed by"] </u></b></div>
        </div>
        <div class="col-xs-4" style="margin-top:65px;">
            <div>
                <label> @Localizer["Date"]/........../........../20.......</label>
            </div>
            <div style="margin-top:10px;"><b><u> @Localizer["Approved by"] </u></b></div>
        </div>
    </div>
</div>