
<div id='pending-void-item-content' class="widget-scrollbar" style="display:
    none; overflow: auto;">
    <div class="group-search-boxes">
        <div id="text-search" class="search-box show">
            <div class="input-box">
                <i id="i-search" class="i-search fas fa-search"></i>
                <input class="ignore" id="search-pending-void-item" type="text"
                    value="" placeholder=@Localizer["Search ..."]>
                <i id="i-close" class="i-close far fa-times-circle"></i>
            </div>
            <div id="btn-search" style="display: none;" class="btn-search
                no-space"><i class="fas fa-search"></i></div>
        </div>
    </div>
    <div class="flexbox">
        <div class="stack-block width-half">
            <label>@Localizer["Date From"]</label>
            <input type="date" class="pending-void-item-date-from" />
        </div>
        <div class="stack-block width-half">
            <label>@Localizer["Date To"]</label>
            <input type="date" class="pending-void-item-date-to" />
        </div>
    </div>

    <fieldset id="pending-void-item" class='shadow wrap-table widget-scrollbar'
        style="height: 350px">
        <legend class="title">@Localizer["List of Pending Void Item"]</legend>
        <span class="fn-red pending-void-items-error"></span>
        <table class="table-pending-void-item">
            <tr>
                <th>@Localizer["Order №"]</th>
                <th>@Localizer["Queue №"]</th>
                <th>@Localizer["Cashier"]</th>
                <th>@Localizer["Date"]</th>
                <th>@Localizer["Time"]</th>
                <th>@Localizer["Table"]</th>
                <th>@Localizer["Amount"]</th>
                <th>@Localizer["IsVoided"]</th>
                @* <th>@Localizer["Action"]</th> *@
            </tr>

        </table>
    </fieldset>
</div>