
<form id="change-rate-content" class="wrap-table size-auto" style="display: none;">
    <table id="list-change-rate" class="grid-box" style="width: 500px;">
        <tr>
            <th>@Localizer["Pricelist"]</th>
            <th>@Localizer["Other Currency"]</th>
            <th>@Localizer["Rate"]</th>
            <th>@Localizer["Decimal Places"]</th>
            <th>@Localizer["Active Alt Currency"]</th>
            <th>@Localizer["Show Change"]</th>
            <th>@Localizer["Show Recived"]</th>
        </tr>
    </table>
</form>