<!--Save receipt-->
<div id='save-receipt-content' style="display: none;">
    <div class="group-search-boxes">
        <div id="text-search" class="search-box show">
            <div class="input-box">
                <i id="i-search" class="i-search fas fa-search"></i>
                <input class="ignore" id="search-receipt-save" autocomplete="off" type="text" value="" placeholder=@Localizer["Search ..."]>
                <i id="i-close" class="i-close far fa-times-circle"></i>
            </div>
            <div id="btn-search" style="display: none;" class="btn-search no-space"><i class="fas fa-search"></i></div>
        </div>
    </div>
    <div class="flexbox">
        <div class="stack-block width-half">
            <label>@Localizer["From Date"]</label>
            <input type="date" class="save-date-from" />
        </div>

        <div class="stack-block width-half">
            <label>@Localizer["To Date"]</label>
            <input type="date" class="save-date-to" />
        </div>
    </div>

    <fieldset id="save-receipt" class='shadow wrap-table widget-scrollbar' style="height: 350px;">
        <legend class="title">@Localizer["List of orders saved"]</legend>
        <table class="save-receipt-listview">
            <tr>
                <th>@Localizer["Order №"]</th>
                <th>@Localizer["Customer Code"]</th>
                <th>@Localizer["Customer Name"]</th>
                <th>@Localizer["Date"]</th>
                <th>@Localizer["Time"]</th>
                <th hidden>@Localizer["Table"]</th>
                <th>@Localizer["Amount"]</th>
                <th>@Localizer["Currency"]</th>
                <th>@Localizer["Choose"]</th>
            </tr>
        </table>
    </fieldset>
</div>