 
<div class="row">
    <div class="col-md-12">
        <div class="group-search-boxes mb-2">
            <div class="search-box show">
                <div class="input-box">
                    <i id="i-search" class="i-search fas fa-search"></i>
                    <input id="search-promo-combo-sale" class="ignore" type="text" autocomplete="off" placeholder="@Localizer["Search ..."]">
                    <i id="i-close" class="i-close far fa-times-circle"></i>
                </div>
                <div id="btn-search" class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
            </div>
        </div>
        <table id="list-combo-sale">
            <thead>
                <tr>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Item Code"]</th>
                    <th>@Localizer["Item Name"]</th>
                    <th>@Localizer["Type"]</th>
                    <th>@Localizer["Qty"]</th>
                    <th>@Localizer["Unit Price"]</th>
                    <th>@Localizer["Choose"]</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



