@using CKBS.Models.ServicesClass.AlertViewClass;
@model CashOutAlertViewModel

<div class="card card-body">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                @if (Model != null)
                {
                    <div class="col-md-3">
                        <p>@Localizer["Branch"]</p>
                        <p>@Localizer["Cashier"]</p>
                        <p>@Localizer["Date In"]</p>
                        <p>@Localizer["Date Out"]</p>
                        <p>@Localizer["Total Cash In"]</p>
                        <p>@Localizer["Total Sale"]</p>
                        <p>@Localizer["Grand Total"]</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>:</b></p>
                        <p><b>:</b></p>
                        <p><b>:</b></p>
                        <p><b>:</b></p>
                        <p><b>:</b></p>
                        <p><b>:</b></p>
                        <p><b>:</b></p>
                    </div>
                    <div class="col-md-6">
                        <p><b>@Model.BrandName</b></p>
                        <p><b>@Model.EmpName</b></p>
                        <p><b>@Model.DateIn.ToString("dd-MM-yyyy") @Model.TimeIn</b></p>
                        <p><b>@Model.DateOut.ToString("dd-MM-yyyy") @Model.TimeOut</b></p>
                        <p><b>@Model.Currency @string.Format("{0:n3}", Model.CashInAmountSys)</b></p>
                        <p><b>@Model.Currency @string.Format("{0:n3}", Model.SaleAmountSys)</b></p>
                        <p><b>@Model.Currency @string.Format("{0:n3}", Model.GrandTotal)</b></p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>