<link href="~/Admin/FinancialReports/cash-flow-for-treasury.css" rel="stylesheet" />

<div class="card card-body">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="font-size">@Localizer["Date"]</label>
                <select class="input-box-kernel font-size" disabled id="date-select">
                    @* <option value="0">---@Localizer["Select"]---</option> *@
                    <option value="1">@Localizer["Posting Date"]</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group ">
                <label class="font-size">@Localizer["From"]</label>
                <div class="input-group">
                    <input type="date" class="form-control font-size" id="from-date">
                    <div class="input-group-append">
                        <span class="input-group-text from-sh-posting-period cursor">
                            <i class="fa fa-plus-circle mll_2 cursor"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group ">
                <label class="font-size">@Localizer["To"]</label>
                <div class="input-group">
                    <input type="date" class="form-control font-size" id="to-date">
                    <div class="input-group-append">
                        <span class="input-group-text to-sh-posting-period cursor">
                            <i class="fa fa-plus-circle mll_2 cursor"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="font-size">@Localizer[""]</label>
                <div class="mt4">
                    <button type="button" class="btn btn-kernel font-size" id="btn-ok">@Localizer["Ok"]</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap-table">
    <table id="list_cash_flow_for_treasury"></table>
    <div class="options" id="option">
        <div class="option">
            <div id="autoExpand"></div>
        </div>
    </div>

    <div class="row" id="loading-view" hidden style="overflow: hidden; width: 90%;">
        <div class="col-md-5"></div>
        <div class="col-md-3">
            <img src="~/Images/ajaxloader/loading.gif" />
        </div>
    </div>
</div>
<partial name="../Components/FinancialReport/_PostingPeriod" />
<script src="~/Admin/FinancialReports/cash-flow-for-treasury.js"></script>