<link href="~/Admin/FinancialReports/profit-loss-report.css" rel="stylesheet">
<div class="card card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="font-size">@Localizer["Date"]</label>
                        <select class="input-box-kernel font-size" disabled id="date-select">
                            @* <option value="0">---@Localizer["Select"]---</option> *@
                            <option value="1">@Localizer["Posting Date"]</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                        <label class="font-size">@Localizer["From"]</label>
                        <div class="input-group">
                            <input type="date" class="form-control font-size" id="from-date">
                            <div class="input-group-append">
                                <span class="input-group-text from-sh-posting-period cursor">
                                    <i class="fa fa-plus-circle mll_2"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                        <label class="font-size">@Localizer["To"]</label>
                        <div class="input-group">
                            <input type="date" class="form-control font-size" id="to-date">
                            <div class="input-group-append">
                                <span class="input-group-text to-sh-posting-period cursor">
                                    <i class="fa fa-plus-circle mll_2"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" style="margin-top: -1px !important;">
                        <label class="font-size">@Localizer["Branch"]</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="branch"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt5" style="margin-top: 26px !important;">
                    <button class="btn btn-kernel" id="btn-ok">@Localizer["Ok"]</button>
                    <button class="btn btn-kernel" id="print" disabled>@Localizer["Print"]</button>
                    <button class="btn btn-kernel" id="to-excel" disabled>@Localizer["To Excel"]</button>
                    @* <div class="form-group">
        <div class="cursor flex-hide-title">
        <input type="checkbox" disabled id="hide-title" class="input-box-kernel font-size">
        <label class="font-size">@Localizer["Hide Title"]</label>
        </div>
        </div> *@
                </div>
            </div>
        </div>
    </div>

      @*  dialog Branch *@
   
 <div id="content-branch" style="display:none; height: 90vh;">
        
           
                <div class="group-search-boxes" style="right:0%;">
                    <div id="text-search" class="wrap-search-box">
                        <div class="wrap-input show">
                            <i id="i-search" class="i-search fas fa-search"></i>
                            <input class="ignore" id="txtseaerch_branch" autocomplete="off" type="text"
                                   placeholder='@Localizer["Search ..."]'>
                            <i id="i-close" class="i-close far fa-times-circle"></i>
                        </div>
                        <div id="btn-search" class="btn-search" style="display: none;">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </div>
      
       
        <table id="tb_branch" class="table-responsive-sm mt-2">
            <thead>
                <tr>
                    <th>@Localizer["No"]</th>
                    <th>@Localizer["Name"]</th>
                     <th>@Localizer["Localtion"]</th>
                     <th>@Localizer["Address"]</th>
                    <th>@Localizer["Choose"]</th>
                </tr>
            </thead>

        </table>
    </div>
    <div class="row mb-3">
        @*<div class="col-md-1"></div>*@
        <div class="col-md-8 ml-2">
            <div class="form-group">
                <label class="font-size">@Localizer["Display Report"]</label>
                <div class="row">
                    <div class="col-md-4">
                        <select class="input-box-kernel font-size" id="d-report-select">
                            <option selected value="0">@Localizer["Annual Report"]</option>
                            <option value="1">@Localizer["Quarterly Report"]</option>
                            <option value="2">@Localizer["Monthly Report"]</option>
                            @* <option value="3">@Localizer["Periodic Report"]</option>*@
                        </select>
                    </div>
                    <div class="col-md-8">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkAccZero">
                            <label class="form-check-label font-size" for="checkAccZero" style="margin: 0px 42px 0;">
                                @Localizer["Accounts with Balance of Zero"]
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="show-hide-loader" hidden>
        <div class="col-md-5"></div>
        <div class="col-md-5">
            <img src="~/Images/ajaxloader/loading.gif" />
        </div>
    </div>
    <div class="row m-0 bg-white" id="content">
        <div id="tree-view" class="col-md-12 m-0 col-sm-12 widget-scrollbar overflow" style="height: 61vh">
            <div id="AnnualReport" hidden>
                <div class="flexAn">
                    <h6 class="header font-size">@Localizer["Account Name"]</h6>
                    <h6 class="header font-size">@Localizer["Balance"]</h6>
                </div>
                <hr class="mt__2" />
                <div id="turnover-AnnualReport" class="mt3"></div>
                <div id="cost-of-sales-AnnualReport" class="mt3"></div>
                <div id="operating-costs-AnnualReport" class="mt3"></div>
                <div id="non-operating-income-expenditure-AnnualReport" class="mt3"></div>
                <div id="taxation-extraordinary-items-AnnualReport" class="mt3"></div>
                <div id="active-only" hidden></div>
            </div>
            <div id="QuarterlyReport" hidden>
                <div class="flex">
                    <h6 class="header font-size _1st">@Localizer["1st Quarter"]</h6>
                    <h6 class="header font-size _2nd">@Localizer["2nd Quarter"]</h6>
                    <h6 class="header font-size _3rd">@Localizer["3rd Quarter"]</h6>
                    <h6 class="header font-size _4th">@Localizer["4th Quarter"]</h6>
                </div>
                <div class="flexName">
                    <h6 class="header font-size name1">@Localizer["Account Name"]</h6>
                    <h6 class="header font-size name2">@Localizer["Period"]</h6>
                    <h6 class="header font-size name2">@Localizer["Period"]</h6>
                    <h6 class="header font-size name2">@Localizer["Period"]</h6>
                    <h6 class="header font-size name2">@Localizer["Period"]</h6>
                </div>
                <hr class="mt__2" />
                <div id="turnover-QuarterlyReport" class="mt3"></div>
                <div id="cost-of-sales-QuarterlyReport" class="mt3"></div>
                <div id="operating-costs-QuarterlyReport" class="mt3"></div>
                <div id="non-operating-income-expenditure-QuarterlyReport" class="mt3"></div>
                <div id="taxation-extraordinary-items-QuarterlyReport" class="mt3"></div>
                <div id="active-only" hidden></div>
            </div>
            <div id="MonthlyReport" hidden>
                <div class="row widthMax">
                    <div class="col-md-4">
                        <h6 class="header font-size">@Localizer["Account Name"]</h6>
                    </div>
                    <div class="col-md-11 col-xl-11 mw-100 ml_5">
                        <div class="row ">
                            <div class="col-md-2 ml-0">
                                <h6 class="header font-size">@Localizer["January"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["February"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["March"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["April"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["May"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["June"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["July"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["August"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["September"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["October"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["November"]</h6>
                            </div>
                            <div class="col-md-3">
                                <h6 class="header font-size">@Localizer["December"]</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["Period"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["Period"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["Period"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["Period"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["Period"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["Period"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["Period"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["Period"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["Period"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["Period"]</h6>
                            </div>
                            <div class="col-md-2">
                                <h6 class="header font-size">@Localizer["Period"]</h6>
                            </div>
                            <div class="col-md-3">
                                <h6 class="header font-size">@Localizer["Period"]</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt__2" />
                <div id="turnover-MonthlyReport" class="row"></div>
                <div id="cost-of-sales-MonthlyReport" class="row"></div>
                <div id="operating-costs-MonthlyReport" class="row"></div>
                <div id="non-operating-income-expenditure-MonthlyReport" class="row"></div>
                <div id="taxation-extraordinary-items-MonthlyReport" class="row"></div>
                <div id="active-only" hidden></div>
            </div>
            <div id="PeriodicReport" hidden>
                <div class="flex">
                    <h6 class="header font-size">@Localizer["Account Name"]</h6>
                    <h6 class="header font-size">@Localizer["Balance"]</h6>
                </div>
                <hr class="mt__2" />
                <div id="turnover-MonthlyReport" class="mt3"></div>
                <div id="cost-of-sales-PeriodicReport" class="mt3"></div>
                <div id="operating-costs-PeriodicReport" class="mt3"></div>
                <div id="non-operating-income-expenditure-PeriodicReport" class="mt3"></div>
                <div id="taxation-extraordinary-items-PeriodicReport" class="mt3"></div>
                <div id="active-only" hidden></div>
            </div>
        </div>
    </div>
    <partial name="../Components/FinancialReport/_PostingPeriod" />
</div>
<script src="/Admin/FinancialReports/profit-loss-report.js"></script>