
<script src="~/js/warehouse.js"></script>
<script src="~/js/table.js" defer></script>
<style>
    .input_datefrom, .input_dateto, .input_branch {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 100%;
        min-width: 100%;
        height: 28px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        border-radius: 3px;
    }

    .lable_branch, .lable_datefrom, .lable_dateto {
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
    }

    .btn-success, .btn-primary {
        margin-top: 22px;
        font-size: 12px;
        font-family: Arial;
        height: 28px;
    }

    .wrap-table {
        margin-top: 20px;
    }

    .grandtotal {
        margin-left: 15px;
    }

    .subtotaltd {
        border-bottom: 1px solid gray;
        font-weight: 700;
    }

    .hidden {
        visibility: collapse !important;
    }

    .styletr {
        font-weight: 800;
    }

    .list_detail {
        float: right;
        min-width: 1000px;
    }

    #list_revenesitem {
        margin-top: 10px;
    }
</style>
<link href="~/css/Modal.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-3">
        <label class="lable_datefrom">@Localizer["Date From"]</label>
        <input type="date" class="input_datefrom" id="datefrom" />
        <label class="lable_branch">@Localizer["By Branch"]</label>
        <select type="text" class="input_branch" id="bybranch">
            <option value="0"></option>
        </select>
    </div>
    <div class="col-md-3">
        <label class="lable_dateto">@Localizer["Date To"]</label>
        <input type="date" class="input_dateto" id="dateto" />  
    </div>
    <div class="col-md-3 ">
        <button class="btn btn-xs btn-success" id="filter">@Localizer["Filter"]</button>
        <button class="btn btn-xs btn-primary" id="preview">@Localizer["Preview"]</button>
    </div>
    @*<div class="col-md-3 text-right" style="margin-top:19px;">
        <button onclick="fnExcelReport()" class="btn btn-sm btn-primary">@Localizer["Export"]</button>
    </div>*@
</div>
<div class="wrap-table list">
    <table id="list_revenesitem">
        <tr style="background:#5F758B;color:white;">
            @*<th  width="80">@Localizer["Detail"]</th>*@
            <th style="min-width:100px;">@Localizer["Code"]</th>
            <th style="min-width:150px;">@Localizer["Name(KH)"]</th>
            <th style="min-width:150px;">@Localizer["Name(EN)"]</th>
            <th style="min-width:80px;">@Localizer["Qty"]</th>
         
            <th style="min-width:100px;">@Localizer["Total Cost"]</th>
            <th style="min-width:100px;">@Localizer["Totat Price"]</th>
            <th style="min-width:100px;">@Localizer["Profit"]</th>
        </tr>
    </table>
</div>

<i class="fa fa-arrows-circle-down"></i>
<script src="~/pos/scripts/krms/numeral.min.js"></script>
<script>
    var db = new Warehouse();
    $(document).ready(function () {
          $('#list_revenesitem').append('<tr><td class="text-center" colspan="11">@Localizer["No Data"]</td></tr>');
        //Get branch
        $.ajax({
            url: "/Report/GetBranch",
            type: "Get",
            dataType: "Json",
            success: function (respones) {
                var data = '';
                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#bybranch").append(data);
            }
        });
    });
   
    $("#filter").on('click', function () {
        var datefrom = $("#datefrom").val();
        var dateto = $("#dateto").val();
        var branch = $("#bybranch").val();
        let listSummary = $.ajax({
            url: "/Report/GetSummaryRevenesItem",
            type: "Get",
            dataType: "Json",
            async: false,
            data: { DateFrom: datefrom, DateTo: dateto, BranchID: branch,ItemID:0,Process:"M"},
            success: function (respones) {

            }
        }).responseJSON;
        db.table("tb_summary").clear();
        if (listSummary.length !== 0) {
            $("#list_revenesitem tr:not(:first-child)").remove();
            db.insert("tb_summary", listSummary, "ItemID");
        }
        else {
            $("#list_revenesitem tr:not(:first-child)").remove();
            $('#list_revenesitem').append('<tr><td class="text-center" colspan="11">@Localizer["No Data"]</td></tr>');
        }
        db.from("tb_summary").where(function (item) {
            GetDataBindTable(item);
        })
        $(".tabelshow").addClass("fa-plus-circle");
    });
    function GetDataBindTable(item) {
        var data = '';
        var totalprofit = '';
     
        let totalcost = '';
        let totalprice = '';
        if (item.Currency == 'KHR' || item.Currency == '៛') {
            if (parseFloat(item.Profit) <= 0) {
                totalprofit = '<td>' + '<span style="margin-right:15px;">' + item.Currency + '</span>' + '<span style="color:red;">' + numeral(item.Profit).format('0,0') + '</span>' + '</td>';
            }
            else {
                totalprofit = '<td>' + '<span style="margin-right:15px;">' + item.Currency + '</span>' + '<span>' + numeral(item.Profit).format('0,0') + '</span>' + '</td>';
            }
            totalcost = '<td>' + numeral(item.TotalCost).format('0,0') + '</td>';
            totalprice = '<td>' + numeral(item.TotalPrice).format('0,0') + '</td>';

        } else {
            if (parseFloat(item.Profit) <= 0) {
                totalprofit = '<td>' + '<span style="margin-right:15px;">' + item.Currency + '</span>' + '<span style="color:red;">' + item.Profit.toFixed(2) + '</span>' + '</td>';
            }
            else {
                totalprofit = '<td>' + '<span style="margin-right:15px;">' + item.Currency + '</span>' + '<span>' + item.Profit.toFixed(2) + '</span>' + '</td>';
            }
            cost = '<td>' + item.Cost.toFixed(2) + '</td>';
            price = '<td>' + item.Price.toFixed(2) + '</td>';
            totalcost = '<td>' + item.TotalCost.toFixed(2) + '</td>';
            totalprice = '<td>' + item.TotalPrice.toFixed(2) + '</td>';
        }

        data +=
        '<tr style="border-bottom:3px solid #e0e0d1;">' +
            //'<td>' + '<i class="fa  tabelshow" style="color:#008000;" data-id='+item.ItemID+'></i>' +'<input hidden type="checkbox" class="check_box" checked/>'+ '</td>' +
            '<td hidden id="order_id">' + item.ItemID + '</td>' +
            '<td >' + item.Code + '</td>' +
            '<td>' + item.KhmerName + '</td>' +
            '<td >' + item.EnglishName + '</td>' +
            '<td>' + item.Qty + '</td>' +
            totalcost  +
            totalprice  +
           '<td hidden>' + item.Currency + '</td>' +
            totalprofit+
         '</tr>' +
         '<tr class="nestedtable hidden">' +
                '<td colspan="10">' +
                    '<table id='+item.ItemID+' class="table-hover list_detail">'+

                    '</table>' +
           '</td>' +
        '<tr>';
        $("#list_revenesitem").append(data);
    }
    //Print Revenues Item
    $("#preview").on("click", function () {
        var datefrom = $("#datefrom").val();
        var dateto = $("#dateto").val();
        var branch = $("#bybranch").val();
        window.open("/Print/PrintRevenuesItem?DateFrom=" + datefrom + "&DateTo=" + dateto + "&BranchID=" + branch + "&ItemID=" + 0 +"&Process="+"M"+"","_blank");
    });
    
</script>   