<style>
    .cursor {
        cursor: pointer;
    }

    .font-size {
        font-size: 13px;
    }

    .loading {
        width: 100vw;
        height: 90%;
        z-index: 9999999999999999999999999;
        position: absolute;
    }

    .img-loading {
        position: absolute;
        top: 46%;
        left: 38%;
    }

    .loadingitem {
        position: absolute;
        top: 46%;
        left: 46%;
    }

    .bTable {
        overflow: auto;
        height: 177px;
    }

    .input-group .input-group-text, .input-group select, .input-group input {
        min-width: 38px !important;
    }

    table thead tr th, table tbody tr td, table thead tr td, table tr td {
        text-align: center;
    }

    .bd-none {
        border: none;
    }

        .bd-none tr td {
            text-align: left;
        }

    #post-date, #valid-date, #document-date {
        position: relative;
        height: 20px;
    }

        #post-date:before, #valid-date:before, #document-date:before {
            position: absolute;
            left: 7px;
            content: attr(data-date);
            display: inline-block;
            color: black;
        }

        #post-date::-webkit-datetime-edit, #valid-date::-webkit-datetime-edit, #document-date::-webkit-datetime-edit,
        #post-date::-webkit-inner-spin-button, #valid-date::-webkit-inner-spin-button, #document-date::-webkit-inner-spin-button,
        #post-date::-webkit-clear-button, #valid-date::-webkit-clear-button, #document-date::-webkit-clear-button {
            display: none;
            content: attr("sdff");
        }

        #post-date::-webkit-calendar-picker-indicator,
        #valid-date::-webkit-calendar-picker-indicator,
        #document-date::-webkit-calendar-picker-indicator {
            position: absolute;
            right: 0;
            color: black;
            opacity: 1;
        }

    #remark-id {
        resize: none;
    }
</style>
<div id="data-invoice" hidden>@Json.Serialize(Model)</div>
<div class="loading" id="loading" hidden>
    <img class="img-loading" src="~/ajaxloader/loading.gif" />
</div>
<div class="card card-body">
    <div class="row">
        <div class="col-md-12 flexbox flex-end">
            <a id="History" class="btn btn-xs btn-kernel"> @Localizer["History"]</a>
            <a id="btn-addnew" href="" class="btn btn-xs btn-kernel" hidden>@Localizer["Create New"]</a>
            <button id="btn-find" class="btn btn-xs btn-kernel">@Localizer["Find"]</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">

                <div class="col-md-5">
                    <label>@Localizer["Customer"]</label>
                </div>
                <div class="col-md-7 cursor" id="show-list-cus">
                    <input hidden id="txt_idcus" />
                    <input type="text" id="txt_cusname" class="cus-id form-control font-size" autocomplete="off" />
                </div>
                <div class="col-md-5">
                    <label>@Localizer["Customer Code"]</label>
                </div>
                <div class="col-md-7 cursor">
                    <input type="text" id="txt_cuscode" readonly class="cus-id form-control font-size" />
                </div>
                <div class="col-md-5">
                    <label>@Localizer["Contact Person"]</label>
                </div>
                <div class="col-md-7 cursor" id="show-list-cus">
                    <input hidden id="txt_idcontect" />
                    <input type="text" id="txt_contactperson" class="cus-id form-control font-size" autocomplete="off" />
                </div>
                <div class="col-md-5">
                    <label>@Localizer["Phone Number"]</label>
                </div>
                <div class="col-md-7 cursor" id="show-list-cus">
                    <input type="text" id="txt_phone" class="cus-id form-control font-size" readonly />
                </div>
                <div class="col-md-5">
                    <label>@Localizer["Warehouse"]</label>
                </div>
                <div class="col-md-7">
                    <select id="ware-id" class="form-control font-size">
                        <option value="0">---select item---</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label>@Localizer["Customer Ref."]</label>
                </div>
                <div class="col-md-7">
                    <input type="text" id="ref-id" class="form-control font-size" autocomplete="off" />
                </div>
                <div class="col-md-5">
                    <label>@Localizer["Price List"]</label>
                </div>
                <div class="col-md-7">
                    <select id="cur-id" class="form-control font-size">
                        <option>--- select item ---</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label>@Localizer["User"]</label>
                </div>
                <div class="col-md-7">
                    <input type="text" id="user-id" class="form-control font-size" readonly value="@User.FindFirst("FullName").Value" />
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-5">
                    <label>@Localizer["ProJect Name:"]</label>
                </div>
                <div class="col-md-7">
                    <input type="hidden" id="txt_proid" />
                    <input type="text" id="txt_proname" class="form-control font-size" autocomplete="off">
                </div>

                <div class="col-md-5">
                    <label>@Localizer["Project Number:"]</label>
                </div>
                <div class="col-md-7" style="display:flex;">
                    <select id="invoice-no" class="form-control font-size"></select>
                    <input type="text" readonly id="next_number" class="form-control font-size" />
                </div>
                <div class="col-md-5">
                    <label>@Localizer["Status"]</label>
                </div>
                <div class="col-md-7">
                    <select id="sta-id" class="form-control font-size" asp-items="@Html.GetEnumSelectList<KEDI.Core.Premise.Models.ProjectCostAnalysis.Status>()">
                    </select>
                    @*<input type="text" readonly id="sta-id" value="open" class="form-control font-size" />*@
                </div>

                <div class="col-md-5">
                    <label>@Localizer["Posting Date"]</label>
                </div>
                <div class="col-md-7">

                    <input data-date="dd/mm/yyyy" data-date-format="DD/MM/YYYY" type="date" id="post-date" class="form-control font-size" />
                </div>
                <div class="col-md-5">
                    <label>@Localizer["Valid Until Date"]</label>
                </div>
                <div class="col-md-7">
                    <input data-date="dd/mm/yyyy" data-date-format="DD/MM/YYYY" class="form-control font-size" type="date" id="valid-date" />
                </div>

                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <input id="barcode-reading" class="form-control font-size" autocomplete="off" placeholder="@Localizer["Barcode reading..."]" disabled autofocus />
        </div>
        <div class="col-md-1">
            <button class="btn btn-xs btn-kernel" id="item-id">
                @Localizer["Choose"]
            </button>
        </div>
    </div>

    <div>
        <div class="row ">
            <div class="col-md-12">
                <ul class="widget-tab" style="height: 268px;overflow:hidden;">
                    <li class="tab-sheet active">
                        <div class="tab-title"><u>D</u>etails</div>
                        <div class="tab-content widget-scrollbar">
                            <div class="wrap-table detail mt-2 bTable widget-scrollbar">
                                <table id="list-detail">
                                    <thead>
                                        <tr>
                                            <th class="text-center">@Localizer["No"]</th>
                                            <th class="text-center">@Localizer["Item Code"]</th>
                                            <th class="text-center">@Localizer["Barcode"]</th>
                                            <th class="text-center">@Localizer["Description"]</th>
                                            <th class="text-center">@Localizer["Quantity"]</th>
                                            <th class="text-center">@Localizer["UoM"]</th>
                                            <th class="text-center">@Localizer["Currency"]</th>
                                       
                                           


                                     
                                            <th class="text-center">@Localizer["InStock"]</th>

                                            <th class="text-center">@Localizer["Remarks"]</th>
                                            <th class="text-center">@Localizer["Action"]</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div><hr />
                        </div>
                    </li>


                </ul>

            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-5">
                    <label>@Localizer["Sale Emaployee"]</label>
                </div>
                <div class="col-md-7">
                    <input hidden id="txt_idem" />
                    <input type="text" id="saleem" class="form-control font-size" autocomplete="off" />
                </div>
                <div class="col-md-5">
                    <label>@Localizer["Owner"]</label>
                </div>
                <div class="col-md-7">
                    <input hidden id="txt_idowner" />
                    <input type="text" id="owner" class="form-control font-size" autocomplete="off" />
                </div>
                

                <div class="col-md-5">
                    <label>@Localizer["Remarks"]</label>
                </div>
                <div class="col-md-7">
                    <textarea id="remark-id" style="height:45px;" class="form-control font-size"></textarea>
                </div>
              
            </div>
        </div>

       


    </div>
    <div id="error-summary"></div>
    <div class="row mt-2">
        <div class="col-md-12">
            <a id="submit-item" class="btn btn-xs btn-kernel"> @Localizer["Save"]</a>
            <a href="" class="btn btn-xs btn-kernel">@Localizer["Cancel"]</a>
        </div>
    </div>
</div>

@*Modal customer*@
<div id="customer-content" style="display:none; height: 364px;">
    <div class="group-search-boxes float-right mb-2">
        <div id="text-search" class="wrap-search-box">
            <div class="wrap-input show">
                <i id="i-search" class="i-search fas fa-search"></i>
                <input class="ignore" id="txtSearchCustomer" autocomplete="off" type="text" placeholder="Search ...">
                <i id="i-close" class="i-close far fa-times-circle"></i>
            </div>
            <div id="btn-search" class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
        </div>
    </div>
    <table id="list-customers">
        <thead>
            <tr>
                <th class="text-center">@Localizer["No"]</th>
                <th class="text-center">@Localizer["Code"]</th>
                <th class="text-center">@Localizer["Name"]</th>
                <th class="text-center">@Localizer["Type"]</th>
                <th class="text-center">@Localizer["Phone"]</th>
                <th class="text-center">@Localizer["Choose"]</th>

            </tr>
        </thead>
    </table>
</div>

@*Modal History Solution Data management*@
<div id="projectcost-content" style="display:none; height: 364px;">
    <div class="group-search-boxes float-right mb-2">
        <div id="text-search" class="wrap-search-box">
            <div class="wrap-input show">
                <i id="i-search" class="i-search fas fa-search"></i>
                <input class="ignore" id="txtSearchprojcost" autocomplete="off" type="text" placeholder="Search ...">
                <i id="i-close" class="i-close far fa-times-circle"></i>
            </div>
            <div id="btn-search" class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
        </div>
    </div>
    <table id="list-projcost">
        <thead>
            <tr>
                <th class="text-center">@Localizer["No"]</th>
                <th class="text-center">@Localizer["Name"]</th>
                <th class="text-center">@Localizer["SeriesNo"]</th>
                <th class="text-center">@Localizer["PostingDate"]</th>
                <th class="text-center">@Localizer["ValidUntilDate"]</th>
               
                <th class="text-center">@Localizer["Choose"]</th>

            </tr>
        </thead>
    </table>
</div>



@*Modal customer*@
<div id="ModalItem" style="display:none; height: 364px;">
    <div class="group-search-boxes float-right mb-2">
        <div id="text-search" class="wrap-search-box">
            <div class="wrap-input show">
                <i id="i-search" class="i-search fas fa-search"></i>
                <input class="ignore" id="txtSearchitemmaster" autocomplete="off" type="text" placeholder="Search ...">
                <i id="i-close" class="i-close far fa-times-circle"></i>
            </div>
            <div id="btn-search" class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
        </div>
    </div>
    <div class="wrap-table widget-scrollbar">
        <table id="list-item">
            <thead>
                <tr>
                    <th class="text-center">@Localizer["No"]</th>
                    <th class="text-center">@Localizer["Code"]</th>
                    <th class="text-center">@Localizer["Description"]</th>
                    <th class="text-center">@Localizer["InStock"]</th>
                    <th class="text-center">@Localizer["Price"]</th>
                    <th class="text-center">@Localizer["Currency"]</th>
                    <th class="text-center">@Localizer["Uom"]</th>
                    <th class="text-center">@Localizer["Barcode"]</th>
                    <th class="text-center">@Localizer["Choose"]</th>

                </tr>
            </thead>
        </table>
    </div>
</div>


<input hidden id="DocumentTypeID" />
<input hidden id="SeriesDetailID" />
<input hidden id="number" />
<script src="~/js/ProjectCostAnalysis/getstore.js"></script>
<script src="~/js/ProjectCostAnalysis/solutionDataMg.js"></script>
