<style>
    .__mt-1 {
        margin-top: 0.25rem !important;
    }

    .serail-detail-container {
        height: 29vh;
        overflow: auto;
        width: 100%;
    }

    .row-flex {
        display: flex;
        @*justify-content:space-between;*@
    }

    table thead tr th {
        font-size: 12px;
    }
</style>
@*// Model Serial //*@

<div id="container-list-serial" class="wrap-table widget-scrollbar" style="display: none; height: 80vh;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="overflow: auto; height: 10vh !important;" class="widget-scrollbar">
                <table class="serial-lists">
                    <thead>
                        <tr>
                            <th>@Localizer["No"]</th>
                            <th>@Localizer["Item Code"]</th>
                            <th>@Localizer["Item Name"]</th>
                            <th>@Localizer["Whse Code"]</th>
                            <th>@Localizer["Quantity"]</th>
                            <th>@Localizer["Total Selected"]</th>
                            <th>@Localizer["Open Qty"]</th>
                            <th>@Localizer["Derection"]</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <p class="font-size" style="padding-top:5px ;">@Localizer["Available Serial Numbers"]</p>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="row-flex"> <label class="font-size" style="width: 50px ;">@Localizer["Find"]</label>
                <input class="form-control font-size" id="searchSNs" />
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="row-flex">
                <label class="font-size" style="width: 18rem;">@Localizer["Display Available SNs"]</label>
                <select class="form-control font-size" id="filterBP" disabled>
                    <option value="1" selected>@Localizer["All"]</option>
                    <option value="2">@Localizer["Related to Current BP"]</option>

                </select>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="overflow: auto; height: 15vh !important;" class="widget-scrollbar">
                <table class="serial-unselect-lists">
                    <thead>
                        <tr>
                            <th style="min-width: 300px;">@Localizer["Mfr Serial No. "]</th>
                            <th style="min-width: 300px;">@Localizer["Engine NO / SerialNumber"]</th>
                            <th>@Localizer["Plate Number"]</th>
                            <th>@Localizer["Lot Number"]</th>
                            <th>@Localizer["Color"]</th>
                            <th>@Localizer["Brand"]</th>
                            <th>@Localizer["Condition"]</th>
                            <th>@Localizer["Type"]</th>
                            <th>@Localizer["H.Power"]</th>
                            <th>@Localizer["Year"]</th>
                            <th>@Localizer["Expiration Date"]</th>
                            <th>@Localizer["Mfr Date"]</th>
                            <th>@Localizer["Admission Date"]</th>
                            <th>@Localizer["Mfr Warranty Start"]</th>
                            <th>@Localizer["Mfr Warranty End"]</th>
                            <th>@Localizer["Location"]</th>
                            <th>@Localizer["Details"]</th>
                        </tr>
                    </thead>
                </table>

            </div>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="row-flex">
                <label class="font-size" style="width:19rem ;">@Localizer["Available Quantity"]: </label>
                <input class="font-size form-control" readonly id="avbQty" />
            </div>
        </div>

    </div>
    <br />
    <p class="font-size">@Localizer["Selected Serial Numbers"]</p>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div style="overflow: auto; height: 17vh !important;" class="widget-scrollbar">
                <table class="serial-select-lists">
                    <thead>
                        <tr>
                            <th style="min-width: 300px;">@Localizer["Mfr Serial No."]</th>
                            <th style="min-width: 300px;">@Localizer["Engine NO / SerialNumber"]</th>
                            <th>@Localizer["Plate Number"]</th>
                            <th>@Localizer["Lot Number"]</th>
                            <th>@Localizer["Color"]</th>
                            <th>@Localizer["Brand"]</th>
                            <th>@Localizer["Condition"]</th>
                            <th>@Localizer["Type"]</th>
                            <th>@Localizer["H.Power"]</th>
                            <th>@Localizer["Year"]</th>
                            <th>@Localizer["Expiration Date"]</th>
                            <th>@Localizer["Mfr Date"]</th>
                            <th>@Localizer["Admission Date"]</th>
                            <th>@Localizer["Mfr Warranty Start"]</th>
                            <th>@Localizer["Mfr Warranty End"]</th>
                            <th>@Localizer["Location"]</th>
                            <th>@Localizer["Details"]</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="row-flex">
                <p class="font-size" style="width: 20rem;">@Localizer["Total Selected"]: </p>
                <input class="font-size form-control" readonly id="ttSlt" />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div class="serailErrorMessage"></div>
        </div>
    </div>
</div>
<script src="~/Admin/Components/SerialsBatches/sales/serialNumber.js"></script>
